.початок h1 {
  margin-top: -10%;
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 39%;
}

.початок img {
  margin-top: 1%;
  width: 24%;
  padding-left: 32%;
}

.початок p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 22%;
  margin-top: 7%;
}

.легенди h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 34%;
}

.легенди p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  margin-right: 7%;
}

.ромашки h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 30%;
}

.ромашки img {
  width: 15%;
  padding-left: 6%;
}

.ромашки p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 22%;
  padding-right: 7%;
  margin-top: -14%;
}

.види h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 30%;
}

.види p {
  font-family: "Cursive";
  font-size: x-large;
  padding-right: 7%;
  padding-left: 22%;
  margin-top: -10%;
  margin-bottom: 6%;
}

.li {
  font-family: "Cursive";
  font-size: xx-large;
  list-style-type: "\1f33c";
  padding-left: 7%;
  padding-right: 7%;
}

.li img {
  width: 15%;
}

.секрет h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 25%;
}

.секрет p {
  font-family: "Cursive";
  font-size: x-large;
  padding-right: 45%;
  padding-left: 7%;
}

.секрет img {
  padding-left: 58%;
  margin-top: -29%;
  margin-bottom: 2%;
}

div.gallery {
  margin: 4%;
  border: 1px solid #ccc;
  width: 10%;
  margin-left: 8%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.gallerytext h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 25%;
}

.gallerytext p {
  font-family: "Cursive";
  font-size: x-large;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: -13%;
  margin-bottom: 9%;
}

.container-2 {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0ecefab;
}

.btn {
  position: relative;
  color: rgb(0, 0, 0);
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;

  span {
    transition: all 0.3s;
  }
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.733);
  pointer-events: none;
  }
  
  a:link {
    text-decoration: none;
  }

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

/* Телефони (доземно) ----------- */
@media only screen and (max-width: 480px) {
  .початок img {
    width: 60%;
    padding-left: 23%;
  }

  .початок h1 {
    margin-top: -28%;
    font-size: xx-large;
    padding-left: 37%;
  }

  .початок p {
    padding-right: 7%;
    font-size: unset;
    margin-left: 5%;
    margin-top: 16%;
  }

  .легенди h2 {
    padding-left: 14%;
  }

  .легенди p {
    font-size: unset;
    margin-top: -10%;
  }

  .ромашки h2 {
    font-size: xx-large;
    padding-left: 11%;
  }

  .ромашки p {
    font-size: unset;
    margin-top: -54%;
  }

  .ромашки img {
    width: 50%;
  }

  .види h2 {
    font-family: "Cursive";
    font-size: xx-large;
    padding-left: 15%;
  }

  .види p {
    font-size: medium;
    padding-right: 7%;
    margin-top: -35%;
    padding-left: 36%;
  }

  .li img {
    width: 30%;
  }

  .секрет h2 {
    font-size: x-large;
    padding-left: 6%;
  }

  .секрет p {
    padding-right: 7%;
    font-size: unset;
    padding-left: 7%;
  }

  .секрет img {
    width: 60%;
    padding-left: 15%;
    margin-top: -4%;
  }

  .gallerytext h2 {
    font-size: xx-large;
    padding-left: 10%;
  }

  div.desc {
    padding: 2%;
    text-align: center;
  }

  div.gallery {
    width: 25%;
    margin-left: 5%;
  }

  .gallerytext p {
    font-size: medium;
    padding-left: 35%;
    padding-right: 7%;
    margin-top: -38%;
    margin-bottom: 23%;
  }
}

/* Телефони (поземно) ----------- */
@media only screen and (max-width: 1223px) and (min-width: 481px) {
  .початок img {
    width: 30%;
    padding-left: 30%;
  }

  .початок h1 {
    margin-top: -14%;
    font-size: xx-large;
    padding-left: 38%;
  }

  .початок p {
    font-size: larger;
    margin-left: 7%;
    margin-top: 7%;
    padding-top: 3%;
  }

  .легенди p {
    font-size: larger;
  }

  .ромашки h2 {
    padding-left: 20%;
  }

  .ромашки img {
    width: 25%;
  }

  .ромашки p {
    margin-left: 35%;
    padding-right: 7%;
    margin-top: -24%;
    font-size: inherit;
  }

  .види p {
    font-size: large;
    margin-top: -15%;
    margin-bottom: 7%;
    padding-left: 20%;
  }

  .секрет h2 {
    font-size: xxx-large;
    padding-left: 11%;
  }

  .секрет p {
    font-size: inherit;
    padding-right: 45%;
    padding-left: 7%;
  }

  .секрет img {
    padding-left: 55%;
    width: 43%;
    margin-top: -50%;
    margin-bottom: 5%;
  }

  div.desc {
    padding: 5%;
  }

  div.gallery {
    width: 15%;
  }

  .gallerytext p {
    font-size: large;
    margin-top: -22%;
    margin-bottom: 15%;
    padding-left: 30%;
  }
}

/* Компютери та ноутбуки ----------- */
@media only screen and (max-width: 1823px) and (min-width: 1224px) {
  .початок img {
    width: 30%;
    padding-left: 26%;
  }

  .початок h1 {
    margin-top: -13%;
    padding-left: 34%;
  }

  .початок p {
    margin-left: 10%;
    padding-right: 7%;
  }

  .легенди h2 {
    padding-left: 30%;
  }

  .легенди p {
    margin-top: -3%;
  }

  .ромашки p {
    font-size: larger;
    margin-left: 33%;
    margin-top: -22%;
  }

  .ромашки img {
    width: 25%;
  }

  .види h2 {
    padding-top: 3%;
  }

  .li img {
    width: 20%;
  }

  .види p {
    margin-top: -14%;
    padding-left: 24%;
    margin-bottom: 5%;
  }

  .секрет h2 {
    padding-left: 18%;
  }

  .секрет p {
    font-size: larger;
  }

  .секрет img {
    margin-top: -39%;
  }

  div.gallery {
    width: 15%;
  }

  .gallerytext p {
    font-size: larger;
    padding-left: 30%;
    margin-top: -15%;
    margin-bottom: 9%;
  }
}
