.початок h1 {
    margin-top: -3%;
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 35%;
  }
  
  .початок img {
    margin-top: 1%;
    width: 20%;
    padding-left: 37%;
  }
  
  .початок p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 22%;
    margin-top: 3%;
  }
  
  .легенди h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 20%;
  }
  
  .легенди p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .легенди img {
    width: 50%;
    padding-left: 23%;
  }
  
  .cимволіка h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 35%;
  }
  
  .cимволіка p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .використання h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 35%;
  }
  
  .використання p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .деталі h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 30%;
  }
  
  .деталі p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .cорти h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 33%;
  }
  
  .cорти p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .cорти h3 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 20%;
  }
  
  li {
    font-family: "Cursive";
    font-size: xx-large;
    list-style-type: "\1f4ae";
    margin-left: 12%;
  }
  
  .багаторічники h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 33%;
  }
  
  .багаторічники p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  div.gallery {
    margin: 4%;
    border: 1px solid #ccc;
    width: 10%;
    margin-left: 8%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  .gallerytext h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 25%;
  }
  
  .gallerytext p {
    font-family: "Cursive";
    font-size: x-large;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: -13%;
    margin-bottom: 9%;
  }
  
  .однорічники h2 {
    font-family: "Cursive";
    font-size: xxx-large;
    padding-left: 30%;
  }
  
  .однорічники p {
    font-family: "Cursive";
    font-size: x-large;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .однорічники h3 {
    font-family: "Cursive";
    font-size: xx-large;
    padding-left: 18%;
  }
  
  .container-2 {
    text-align: center;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8f192ab;
  }
  
  .btn {
    position: relative;
    color: rgb(0, 0, 0);
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
  
    span {
      transition: all 0.3s;
    }
  }
  
  .btn-two::before,
  .btn-two::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.733);
    pointer-events: none;
  }
  
  a:link {
    text-decoration: none;
  }
  
  .btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  
  .btn-two:hover::before {
    animation-name: rotateccw;
    animation-duration: 3s;
  }
  
  .btn-two:hover::after,
  .btn-two:hover::before {
    left: 96px;
    width: 64px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotatecw {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateccw {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }
  
  /* Телефони (доземно) ----------- */
  @media only screen and (max-width: 480px) {
    .початок img {
      width: 40%;
    }
  
    .початок h1 {
      margin-top: -9%;
      font-size: xx-large;
      padding-left: 21%;
    }
  
    .початок p {
      font-size: unset;
      margin-left: 7%;
      padding-right: 7%;
      margin-top: 1%;
    }
  
    .легенди h2 {
      font-size: xx-large;
      padding-left: 3%;
    }
  
    .легенди p {
      font-size: unset;
    }
  
    .легенди img {
      width: 70%;
      padding-left: 14%;
    }
  
    .cимволіка h2 {
      padding-left: 19%;
    }
  
    .cимволіка p {
      margin-top: -10%;
      font-size: unset;
    }
  
    .використання h2 {
      padding-left: 11%;
    }
  
    .використання p {
      margin-top: -9%;
      font-size: unset;
    }
  
    .деталі h2 {
      font-size: xx-large;
      padding-left: 8%;
    }
  
    .деталі p {
      margin-top: -6%;
      font-size: unset;
    }
  
    .cорти h2 {
      padding-left: 8%;
    }
  
    .cорти p {
      margin-top: -9%;
      font-size: unset;
    }
  
    .cорти h3 {
      font-size: x-large;
      padding-left: 4%;
    }
  
    li {
      font-size: x-large;
    }
  
    .багаторічники h2 {
      font-size: xx-large;
      padding-left: 8%;
    }
  
    .багаторічники p {
      font-size: unset;
    }
  
    div.gallery {
      width: 35%;
    }
  
    .gallerytext p {
      font-size: unset;
      padding-left: 42%;
      padding-right: 7%;
      margin-top: -40%;
      margin-bottom: 20%;
    }
  
    .однорічники h2 {
      font-size: xx-large;
      padding-left: 10%;
    }
  
    .однорічники p {
      font-size: unset;
    }
  
    .однорічники h3 {
      font-size: x-large;
      padding-left: 5%;
    }
  }
  
  /* Телефони (поземно) ----------- */
  @media only screen and (max-width: 1223px) and (min-width: 481px) {
    .початок img {
      padding-left: 43%;
    }
  
    .початок h1 {
      margin-top: -6%;
      padding-left: 28%;
    }
  
    .початок p {
      padding-right: 7%;
      margin-left: 7%;
      font-size: larger;
    }
  
    .легенди h2 {
      font-size: xx-large;
      padding-left: 12%;
    }
  
    .легенди p {
      font-size: larger;
    }
  
    .легенди img {
      width: 65%;
      padding-left: 18%;
    }
  
    .cимволіка p {
      font-size: larger;
    }
  
    .використання p {
      font-size: larger;
    }
  
    .деталі h2 {
      padding-left: 15%;
    }
  
    .деталі p {
      font-size: larger;
    }
  
    .cорти h2 {
      padding-left: 28%;
    }
  
    .cорти p {
      font-size: larger;
    }
  
    .cорти h3 {
      font-size: xx-large;
      padding-left: 9%;
    }
  
    .багаторічники h2 {
      padding-left: 18%;
    }
  
    .багаторічники p {
      font-size: larger;
    }
  
    div.gallery {
      width: 20%;
    }
  
    .gallerytext p {
      font-size: larger;
      padding-left: 28%;
      padding-right: 7%;
      margin-top: -15%;
      margin-bottom: 10%;
    }
  
    .однорічники h2 {
      padding-left: 21%;
    }
  
    .однорічники p {
      font-size: larger;
    }
  
    .однорічники h3 {
      padding-left: 3%;
    }
  }
  
  /* Компютери та ноутбуки ----------- */
  @media only screen and (max-width: 1823px) and (min-width: 1224px) {
    .початок img {
      padding-left: 43%;
    }
  
    .початок h1 {
      margin-top: -4%;
    }
  
    .початок p {
      padding-right: 7%;
      margin-left: 14%;
    }
  
    .легенди h2 {
      padding-left: 12%;
    }
  
    .легенди img {
      width: 60%;
      padding-left: 18%;
    }
  
    .cорти h3 {
      padding-left: 9%;
    }
  
    div.gallery {
      width: 15%;
    }
  
    .однорічники h3 {
      padding-left: 15%;
    }
  }
  