div.section-background {
  background-size: 100%;
  background-image: url("flowers.webp");
}

div.заголовок {
  display: grid;
  grid-template-columns: 30% 70%;
}

.заголовок img {
  width: 40%;
  padding-left: 50%;
  padding-top: 5%;
}

.заголовок h2 {
  padding-left: 15%;
  padding-top: 4%;
  font-family: "Cursive";
  font-size: xxx-large;
}

.початок p {
  padding-left: 30%;
  padding-right: 30%;
  font-family: "Cursive";
  font-size: x-large;
}

.визначення h3 {
  padding-left: 30%;
  padding-top: 4%;
  font-family: "Cursive";
  font-size: xx-large;
}

.визначення p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.органи {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding-top: 10%;
}

.tooltip .tooltiptext {
  width: 50%;
  background-color: #96a4a5;
  color: #fff;
  text-align: center;
  border-radius: 55%;
  padding: 2% 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -23%;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip img {
  width: 65%;
  padding-left: 15%;
}

.значення h2 {
  padding-left: 30%;
  padding-top: 4%;
  font-family: "Cursive";
  font-size: xxx-large;
}

.значення p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.класифікація h2 {
  padding-left: 15%;
  padding-top: 4%;
  font-family: "Cursive";
  font-size: xxx-large;
}

.класифікація p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.класифікація li {
  font-family: "Cursive";
  font-size: x-large;
}

.види {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.container-2 {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e598c;
}

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;

  span {
    transition: all 0.3s;
  }
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

a:link {
  text-decoration: none;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

/* Телефони (доземно) ----------- */
@media only screen and (max-width: 480px) {
.заголовок img {
  width: 100%;
}

.початок p {
  padding-left: 5%;
  padding-right: 5%;
}

.визначення h3 {
  padding-left: 5%;
}

.визначення p {
  padding-left: 3%;
  padding-right: 3%;
  font-size: math;
}

.tooltip img {
  width: 100%;
  padding-left: 2%;
}

.значення h2 {
  padding-left: 1%;
  font-size: 135%;
}

.значення p {
  padding-left: 2%;
  font-size: large;
}

.класифікація h2 {
  padding-left: 0%;
  font-size: 138%;
}

.класифікація p {
  font-size: revert-layer;
}
}

/* Телефони (поземно) ----------- */
@media only screen and (max-width: 1223px) and (min-width: 481px) {
  .заголовок img {
    width: 75%;
    padding-left: 80%;
  }

  .заголовок h2 {
    padding-left: 15%;
    padding-top: 15%;
  }

  .початок p {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .визначення h3 {
    padding-left: 15%;
    font-size: xxx-large;
  }
  
  .визначення p {
    font-size: x-large;
  }
  
  .tooltip img {
    width: 100%;
    padding-left: 0%;
  }
  
  .значення h2 {
    padding-left: 12%;
    font-size: xx-large;
    padding-top: 0%;
  }
  
  .значення p {
    padding-left: 2%;
    font-size: large;
  }
  
  .класифікація h2 {
    padding-left: 15%;
    font-size: xx-large;
  }
  
  .класифікація p {
    font-size: x-large;
  }
}

/* Компютери та ноутбуки ----------- */
@media only screen and (max-width: 1823px) and (min-width: 1224px) {
  .заголовок img {
    width: 75%;
    padding-left: 80%;
  }

  .заголовок h2 {
    padding-left: 15%;
    padding-top: 15%;
  }

  .початок p {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .визначення h3 {
    padding-left: 25%;
    font-size: xxx-large;
  }
  
  .визначення p {
    font-size: x-large;
  }
  
  .tooltip img {
    width: 100%;
    padding-left: 0%;
  }
  
  .значення h2 {
    padding-left: 15%;
    font-size: xxx-large;
    padding-top: 0%;
  }
  
  .значення p {
    padding-left: 2%;
    font-size: x-large;
  }
  
  .класифікація h2 {
    padding-left: 15%;
    font-size: xxx-large;
  }
  
  .класифікація p {
    font-size: x-large;
  }
}

/* Великі екрани ----------- */
@media only screen and (min-width: 1824px) {
  .заголовок img {
    width: 75%;
    padding-left: 80%;
  }

  .заголовок h2 {
    padding-left: 15%;
    padding-top: 15%;
  }

  .початок p {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .визначення h3 {
    padding-left: 25%;
    font-size: xxx-large;
  }
  
  .визначення p {
    font-size: x-large;
  }
  
  .tooltip img {
    width: 100%;
    padding-left: 0%;
  }
  
  .значення h2 {
    padding-left: 15%;
    font-size: xxx-large;
    padding-top: 0%;
  }
  
  .значення p {
    padding-left: 2%;
    font-size: x-large;
  }
  
  .класифікація h2 {
    padding-left: 15%;
    font-size: xxx-large;
  }
  
  .класифікація p {
    font-size: x-large;
  }
}