.початок h1 {
  margin-top: -4%;
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 36%;
}

.початок img {
  width: 20%;
  padding-left: 31%;
}

.початок p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  padding-right: 7%;
  margin-top: 1%;
}

.історія h2 {
  margin-top: 2%;
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 30%;
}

.історія img {
  width: 50%;
  padding-left: 22%;
}

.історія p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  padding-right: 7%;
}

.садова h2 {
  margin-top: 2%;
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 35%;
}

.садова p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  padding-right: 7%;
}

.факти h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 32%;
}

.li {
  font-family: "Cursive";
  font-size: x-large;
  list-style-type: "\1f338";
  padding-left: 7%;
  padding-right: 7%;
}

.популярні h2 {
  margin-top: 2%;
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 30%;
}

.квітики {
  padding-left: 7%;
}

.wave {
  float: left;
  animation: wave ease-in-out 0.7s infinite alternate;
}

.wave img {
  border: 5px solid #f8f8f8;
  display: block;
  width: 100%;
  height: 198px;
}

.wave figcaption {
  text-align: center;
}

.wave:hover {
  animation-play-state: paused;
}

.wave::before {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  height: 12%;
  width: 10%;
  background-image: url(https://e1.pngegg.com/pngimages/633/178/png-clipart-blue-hydrangea-blue-petaled-flowers.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes wave {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.container-2 {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6a84ccab;
}

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;

  span {
    transition: all 0.3s;
  }
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

a:link {
  text-decoration: none;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

/* Телефони (доземно) ----------- */
@media only screen and (max-width: 480px) {
  .початок img {
    width: 57%;
    padding-left: 18%;
  }

  .початок h1 {
    margin-top: -12%;
    padding-left: 22%;
  }

  .початок p {
    font-size: revert-layer;
    margin-top: -6%;
  }

  .історія h2 {
    font-size: xx-large;
    padding-left: 10%;
  }

  .історія p {
    margin-left: 7%;
    padding-right: 7%;
    font-size: revert-layer;
  }

  .історія img {
    width: 70%;
    padding-left: 14%;
  }

  .садова h2 {
    padding-left: 10%;
  }

  .садова p {
    font-size: revert-layer;
    margin-top: -8%;
  }

  .факти h2 {
    font-size: xx-large;
    padding-left: 5%;
  }

  .популярні h2 {
    font-size: xx-large;
    padding-left: 6%;
  }
}

/* Телефони (поземно) ----------- */
@media only screen and (max-width: 1223px) and (min-width: 481px) {
  .початок img {
    width: 30%;
    padding-left: 28%;
  }

  .початок h1 {
    margin-top: -7%;
    padding-left: 31%;
  }

  .історія h2 {
    padding-left: 23%;
  }

  .історія p {
    font-size: larger;
  }

  .історія img {
    width: 65%;
    padding-left: 15%;
  }

  .садова h2 {
    padding-left: 23%;
  }

  .садова p {
    font-family: "Cursive";
    font-size: larger;
  }

  .факти h2 {
    padding-left: 17%;
  }

  .популярні h2 {
    padding-left: 12%;
  }

  .wave img {
    width: 100%;
    height: 100px;
  }
}

/* Компютери та ноутбуки ----------- */
@media only screen and (max-width: 1823px) and (min-width: 1224px) {
  .початок h1 {
    padding-left: 33%;
  }

  .wave img {
    border: 5px solid #f8f8f8;
    display: block;
    width: 100%;
    height: 270px;
  }

  .популярні h2 {
    padding-left: 17%;
  }
}
