.початок h1 {
  margin-top: -10%;
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 32%;
}

.початок img {
  margin-top: 5%;
  width: 15%;
  padding-left: 35%;
}

.початок p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 7%;
}

.легенди h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 27%;
}

.легенди p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  margin-right: 7%;
}

.легенди img {
  width: 50%;
  margin-left: 20%;
}

.квітка h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 30%;
}

.квітка p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  margin-right: 7%;
}

.факти h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 32%;
}

.li {
  font-family: "Cursive";
  font-size: x-large;
  list-style-type: "\1f33a";
  padding-left: 7%;
  padding-right: 7%;
}

.властивості h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 32%;
}

.властивості p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: -10%;
}

.властивості img {
  padding-left: 66%;
  width: 27%;
}

.види h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 32%;
}

.види p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 7%;
  margin-right: 7%;
}

.сітка {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery2 {
  border: 1px solid #ccc;
}

div.gallery2 img {
  width: 100%;
}

div.gallery3 {
  border: 1px solid #ccc;
}

div .gallery3 img {
  width: 100%;
}

.responsive {
  width: 50%;
  padding-left: 35%;
}

.responsive2 {
  padding-left: 20%;
  padding-right: 29%;
}

.responsive3 {
  padding-right: 50%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.види2 h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 32%;
}

.види2 p {
  font-family: "Cursive";
  font-size: x-large;
  margin-left: 2%;
  padding-top: 2%;
}

.wrapper {
  text-align: center;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.polaroid > img {
  max-width: 60%;
  height: auto;
}

.caption {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Poor Story", cursive;
}

.item {
  width: 30%;
  display: inline-block;
  filter: grayscale(100%);
  transform: scale(0.8, 0.8) rotate(5deg);
}

.item.polaroid::before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
}

.item:hover.polaroid::before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

.видиопис h2 {
  font-family: "Cursive";
  font-size: xx-large;
  padding-left: 10%;
}

.container-2 {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #95568eab;
}

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;

  span {
    transition: all 0.3s;
  }
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

a:link {
  text-decoration: none;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

/* Телефони (доземно) ----------- */
@media only screen and (max-width: 480px) {
  .початок img {
    margin-top: 2%;
    width: 20%;
    padding-left: 60%;
  }

  .початок h1 {
    margin-top: -13%;
    padding-left: 33%;
  }

  .початок p {
    font-size: large;
    margin-left: 3%;
    margin-right: 3%;
  }

  .легенди h2 {
    font-size: xx-large;
    padding-left: 4%;
  }

  .легенди p {
    font-size: large;
    margin-left: 3%;
    margin-right: 3%;
  }

  .легенди img {
    width: 75%;
    margin-left: 10%;
  }

  .квітка h2 {
    font-size: xx-large;
    padding-left: 15%;
  }

  .квітка p {
    font-size: large;
    margin-left: 3%;
    margin-right: 3%;
  }

  .факти h2 {
    font-size: xx-large;
    padding-left: 6%;
  }

  .властивості h2 {
    font-size: xx-large;
    padding-left: 5%;
  }

  .властивості p {
    font-size: large;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -47%;
  }

  .властивості img {
    width: 100%;
    padding-left: 1%;
  }

  .види h2 {
    font-size: xx-large;
    padding-left: 8%;
  }

  .види p {
    font-size: large;
    margin-left: 3%;
    margin-right: 3%;
  }

  .responsive {
    width: 80%;
    padding-left: 33%;
  }

  .responsive2 {
    padding-left: 17%;
    padding-right: 3%;
  }

  .responsive3 {
    padding-right: 21%;
  }

  .види2 h2 {
    font-size: xx-large;
    padding-left: 13%;
  }

  .polaroid img {
    max-width: 100%;
    height: auto;
  }

  .caption {
    font-size: large;
  }

  .popul h2 {
    font-size: x-large;
    padding-left: 3%;
  }
}

/* Телефони (поземно) ----------- */
@media only screen and (max-width: 1223px) and (min-width: 481px) {
  .початок img {
    width: 18%;
    padding-left: 42%;
  }

  .початок h1 {
    margin-top: -10%;
    padding-left: 28%;
  }

  .початок p {
    margin-top: 3%;
  }

  .легенди h2 {
    padding-left: 14%;
  }

  .легенди img {
    width: 70%;
    margin-left: 15%;
  }

  .квітка h2 {
    padding-left: 22%;
  }

  .факти h2 {
    padding-left: 18%;
  }

  .властивості h2 {
    padding-left: 19%;
  }

  .властивості img {
    width: 100%;
  }

  .властивості p {
    margin-top: -40%;
  }

  .види h2 {
    padding-top: 3%;
    padding-left: 19%;
  }

  .види2 h2 {
    padding-left: 20%;
  }
}

/* Компютери та ноутбуки ----------- */
@media only screen and (max-width: 1823px) and (min-width: 1224px) {
  .початок img {
    margin-top: 3%;
    padding-left: 38%;
  }

  .факти h2 {
    padding-left: 28%;
  }

  .властивості h2 {
    padding-left: 26%;
  }

  .властивості img {
    padding-left: 52%;
    width: 41%;
  }

  .властивості p {
    margin-top: -18%;
  }

  .види h2 {
    padding-left: 28%;
  }
}
