div.rose {
  display: grid;
  grid-template-columns: 30% 70%;
}

.rose img {
  width: 80%;
  padding-left: 100%;
}

.rose h1 {
  padding-top: 8%;
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 8%;
}

.початок p {
  padding-left: 9%;
  padding-right: 9%;
  font-family: "Cursive";
  font-size: x-large;
}

.історія h2 {
  padding-left: 35%;
  padding-top: 2%;
  font-family: "Cursive";
  font-size: xx-large;
}

.історія p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.історія img {
  width: 50%;
  padding-left: 25%;
}

.назва h2 {
  font-family: "Cursive";
  font-size: xxx-large;
  padding-left: 40%;
}

.назва p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.ботаніка h2 {
  padding-left: 35%;
  font-family: "Cursive";
  font-size: xxx-large;
}

.ботаніка li {
  font-family: "Cursive";
  font-size: xx-large;
}

.ботаніка p {
  padding-left: 23%;
  padding-right: 5%;
  font-family: "Cursive";
  font-size: x-large;
}

.ботаніка img {
  width: 20%;
  margin-top: -6%;
}

.колючкироз img {
  width: 20%;
  margin-top: -14%;
}

.види h2 {
  padding-left: 35%;
  padding-top: 2%;
  font-family: "Cursive";
  font-size: xxx-large;
}

.види p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.популярні h2 {
  padding-left: 30%;
  padding-top: 2%;
  font-family: "Cursive";
  font-size: xxx-large;
}

.популярні p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.сітка {
  display: grid;
  grid-template-columns: 50% 50%;
}

div.gallery2 {
  border: 1px solid #ccc;
}

div.gallery2 img {
  width: 100%;
  height: auto;
}

.responsive2 {
  width: 60%;
  padding-left: 20%;
}

div.gall2 {
  border: 1px solid #ccc;
}

div.gall2 img {
  width: 100%;
  height: auto;
}

.respons2 {
  width: 46%;
  padding-left: 10%;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  width: 60%;
  padding-left: 20%;
}

div.gall {
  border: 1px solid #ccc;
}

div.gall img {
  width: 100%;
  height: auto;
}

.respons {
  width: 90%;
  padding-left: 2%;
}

.використання h2 {
  padding-left: 35%;
  padding-top: 2%;
  font-family: "Cursive";
  font-size: xxx-large;
}

.використання p {
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cursive";
  font-size: x-large;
}

.використання li {
  padding-right: 3%;
  font-family: "Cursive";
  font-size: xx-large;
}

.container-2 {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a88c8c;
}

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;

  span {
    transition: all 0.3s;
  }
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

a:link {
  text-decoration: none;
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two:hover::after,
.btn-two:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

/* Телефони (доземно) ----------- */
@media only screen and (max-width: 480px) {
  .rose img {
    width: 175%;
    padding-left: 98%;
  }

  .rose h1 {
    font-size: xx-large;
  }

  .початок p {
    padding-left: 4%;
    padding-right: 4%;
    font-size: large;
  }

  .історія h2 {
    padding-left: 4%;
  }

  .історія p {
    font-size: large;
  }

  .історія img {
    width: 80%;
    padding-left: 7%;
  }

  .назва h2 {
    padding-left: 30%;
  }

  .назва p {
    font-size: larger;
  }

  .ботаніка h2 {
    padding-left: 7%;
  }

  .ботаніка p {
    padding-left: 2%;
    font-size: larger;
  }

  .ботаніка img {
    width: 50%;
  }

  .колючкироз img {
    width: 40%;
    margin-top: 0%;
  }

  .види h2 {
    padding-left: 16%;
  }

  .види p {
    padding-left: 3%;
    font-size: large;
  }

  .responsive2 {
    width: 80%;
    padding-left: 15%;
  }

  .respons2 {
    width: 61%;
    padding-left: 10%;
  }

  .популярні h2 {
    padding-left: 12%;
    padding-top: 3%;
    font-size: xx-large;
  }

  .популярні p {
    font-size: larger;
  }

  .HybridTeaRoses img {
    width: 50%;
    padding-left: 35%;
  }

  .використання h2 {
    padding-left: 19%;
    font-size: xxx-large;
  }
}

/* Телефони (поземно) ----------- */
@media only screen and (max-width: 1223px) and (min-width: 481px) {
  .rose img {
    width: 150%;
    padding-left: 77%;
  }

  .rose h1 {
    padding-top: 14%;
    padding-left: 2%;
    font-size: xxx-large;
  }

  .початок p {
    padding-left: 4%;
    padding-right: 4%;
    font-size: larger;
  }

  .історія h2 {
    padding-left: 25%;
  }

  .історія p {
    font-size: large;
  }

  .історія img {
    width: 70%;
    padding-left: 13%;
  }

  .назва h2 {
    padding-left: 35%;
  }

  .назва p {
    font-size: larger;
  }

  .ботаніка h2 {
    padding-left: 25%;
  }

  .ботаніка p {
    padding-left: 26%;
    font-size: larger;
  }

  .ботаніка img {
    margin-top: -16%;
    width: 25%;
  }

  .колючкироз img {
    width: 25%;
    margin-top: -36%;
  }

  .види h2 {
    padding-left: 30%;
  }

  .види p {
    padding-left: 5%;
    font-size: larger;
  }

  .responsive2 {
    width: 80%;
    padding-left: 15%;
  }

  .respons2 {
    width: 61%;
    padding-left: 10%;
  }

  .популярні h2 {
    padding-left: 12%;
    padding-top: 3%;
    font-size: xx-large;
  }

  .популярні p {
    font-size: larger;
  }

  .використання h2 {
    padding-left: 19%;
    font-size: xxx-large;
  }
}

/* Компютери та ноутбуки ----------- */
@media only screen and (max-width: 1823px) and (min-width: 1224px) {
  .rose h1 {
    padding-top: 5%;
    padding-left: 3%;
  }

  .ботаніка img {
    margin-top: -14%;
  }

  .колючкироз img {
    margin-top: -26%;
  }
}
