.rama {
  border-style: groove;
  border-color: #808080;
  border-width: 35px;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
}

.simple__button {
  display: inline-block;
  padding: 5px;
  background: #808080;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 15%;
}

.sb {
  color: #599b73bd;
  margin-top: 4px;
  padding: 7px 16px;
  height: 333px;
  min-width: 210px;
  background-image:
    linear-gradient(90deg, #1f201f 50%, #f5f5f56e 50%),
    linear-gradient(90deg, #7a7c79 50%, #c4c6c4 50%),
    linear-gradient(0deg, #4c4f4db5 50%, #36aa539e 50%),
    linear-gradient(0deg, #a3b1a2 50%, #484d48b5 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
  animation: marching-ants 400ms infinite linear;
}

.sb img {
  height: 100%;
}

@keyframes marching-ants {
  0% {
    background-position: 0 0, 10px 100%, 0 10px, 100% 0;
  }

  100% {
    background-position: 10px 0, 0 100%, 0 0, 100% 10px;
  }
}

.kim h1 {
  margin-left: 44%;
  margin-top: 6%;
  color: #808080;
}

.tehon h2 {
  margin-left: 48%;
  margin-top: -18%;
}

.tehon p {
  margin-left: 38%;
  margin-right: 19%;
}

.tehon img {
  margin-left: 55%;
  width: 12%;
}

.education h1 {
  margin-left: 44%;
  margin-top: 6%;
  color: #808080;
}

.education h2 {
  margin-left: 40%;
  margin-top: 5%;
}

.education p {
  margin-left: 15%;
  margin-right: 47%;
  margin-top: 8%;
}

.education img {
  margin-left: 60%;
  width: 20%;
  margin-top: -15%;
}

.today h2 {
  margin-left: 40%;
  margin-top: 5%;
}

.today p {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 8%;
}

.today img {
  margin-left: 32%;
  width: 25%;
}

.todayy p {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 1%;
}

.todayy img {
  margin-left: 30%;
  width: 30%;
}

.todayyy p {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 1%;
}

.solo h2 {
  margin-left: 36%;
  margin-top: 6%;
}

.solo p {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 4%;
}

.solo img {
  margin-left: 18%;
  width: 18%;
}

.soloo p {
  margin-left: 38%;
  margin-right: 40%;
  margin-top: -28%;
}

.soloo img {
  margin-left: 62%;
  width: 15%;
  margin-top: -30%;
  margin-bottom: 5%;
}

.influence h2 {
  margin-left: 40%;
  margin-top: 6%;
}

.influence p {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 4%;
}

.influence img {
  margin-left: 15%;
  width: 40%;
}

.influencee p {
  margin-left: 56%;
  margin-right: 20%;
  margin-top: -25%;
}

.influencee video {
  margin-left: 65%;
  width: 10%;
  margin-top: -1%;
}

.influenceee p {
  margin-left: 15%;
  margin-right: 20%;
  margin-bottom: 2%;
  margin-top: 0%;
}
