.within {
  width: 800px;
}

.container {
  width: 115%;
  height: 1%;
  background-color: #a23f3f;
  display: flex;
  margin-right: 60%;
}

.left {
  width: 118%;
  height: 100%;
}

.left img {
  width: 20%;
}

.all {
  width: 55%;
  padding: 0%;
  margin-left: -88%;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
}

.author {
  display: flex;
  margin: 2% 53%;
  margin-left: 10%;
  margin-top: 3%;
}

.avatar {
  width: 1px;
  margin-right: 100%;
  margin-left: -30%;
}

.avatar img {
  width: 40px;
  height: 59%;
  border-radius: 50%;
}

.name {
  font-size: 15px;
  margin-left: -300%;
  margin-top: 16%;
}

.date {
  font-size: 16px;
  margin-left: -300%;
  margin-top: -54%;
}

.actions {
  margin-left: auto;
  position: relative;
}

.share {
  padding: 11px;
  margin-left: 380%;
  margin-top: 15%;
}

.share img {
  width: 20px;
  height: 60%;
}
