.rama {
  border-style: dashed;
  border-color: #f00;
  border-width: 15px;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
}

.ramka {
  position: relative;
  width: 20%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9%;
  margin-left: 10%;
}

.ramka img {
  width: 55%;
}

.ramka span {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ramka span:nth-child(1) {
  transform: rotate(0deg);
}

.ramka span:nth-child(2) {
  transform: rotate(90deg);
}

.ramka span:nth-child(3) {
  transform: rotate(180deg);
}

.ramka span:nth-child(4) {
  transform: rotate(270deg);
}

.ramka span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5%;
  background: #ff7979;
  animation: anim-ramka 4s linear infinite;
}

@keyframes anim-ramka {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.chon h1 {
  margin-top: -26%;
  margin-left: 42%;
  color: #e81111;
}

.chon h2 {
  margin-top: 10%;
  margin-left: 52%;
  color: #ff7979;
}

.chon p {
  margin-right: 25%;
  margin-left: 42%;
}

.chon img {
  width: 15%;
  margin-left: 47%;
}

.biography h2 {
  margin-top: 9%;
  margin-left: 40%;
  color: #ff7979;
}

.biography p {
  margin-right: 25%;
  margin-left: 15%;
}

.biography img {
  width: 30%;
  margin-left: 30%;
}

.biographyyy p {
  margin-right: 25%;
  margin-left: 15%;
}

.career h1 {
  margin-top: 10%;
  margin-left: 42%;
  color: #e81111;
}

.career h2 {
  margin-top: 10%;
  margin-left: 38%;
  color: #ff7979;
}

.career p {
  margin-right: 60%;
  margin-left: 15%;
  margin-top: 8%;
}

.career img {
  width: 17%;
  margin-left: 58%;
  margin-top: -26%;
  margin-bottom: 1%;
}

.solo h2 {
  margin-top: 10%;
  margin-left: 35%;
  color: #ff7979;
}

.solo p {
  margin-right: 25%;
  margin-left: 15%;
  margin-top: 5%;
}

.solo img {
  width: 23%;
  margin-left: 32%;
  margin-bottom: 1%;
}

.soloo p {
  margin-right: 25%;
  margin-left: 15%;
}

.soloo img {
  width: 23%;
  margin-left: 32%;
  margin-bottom: 1%;
}

.solooo p {
  margin-right: 25%;
  margin-left: 15%;
  margin-top: 1%;
}

.vplyv h2 {
  margin-top: 10%;
  margin-left: 38%;
  color: #ff7979;
}

.vplyv p {
  margin-right: 25%;
  margin-left: 15%;
  margin-top: 8%;
}

.vplyv img {
  width: 17%;
  margin-left: 22%;
  margin-top: -1%;
  margin-bottom: 1%;
}

.vplyvv p {
  margin-right: 25%;
  margin-left: 41%;
  margin-top: -22%;
}

.vplyvv video {
  margin-left: 61%;
  width: 14%;
  margin-top: -1%;
}

.vplyvv img {
  width: 14%;
  margin-left: 42%;
  margin-top: -30%;
  margin-bottom: 10%;
}

.vplyvvv p {
  margin-right: 60%;
  margin-left: 15%;
  margin-top: -20%;
}

.vplyvvv img {
  width: 25%;
  margin-left: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}
