body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #c49cc3;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 1% 15%;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  float: left;
  width: 33%;
}

.house {
  margin-top: 25%;
}

.dropdown .house {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.church {
  margin-top: 5%;
  width: 100%;
  background: #fcf;
}

.church h1 {
  margin-left: 50%;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.galleryy img {
  width: 30%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.gallerry img {
  margin-left: 65%;
  margin-top: -15%;
  margin-bottom: 13px;
  height: 200%;
}

.text p {
  margin-left: -127%;
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
}

.text {
  margin-left: 71%;
  margin-right: 1%;
  margin-top: -20%;
}

.maps {
  width: 600px;
  height: 306px;
  margin-left: -116%;
}

.maps iframe {
  width: 180%;
  height: 90%;
}

.description h2 {
  margin-left: 42%;
}

.description {
  margin-top: 15%;
  margin-right: 28%;
  font-family: Snell Roundhand, cursive;
  background: #ecc6d9;
  margin-left: 26%;
}

div.galery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin-top: -16%;
  background: #f2d9e6;
}

div.galery:hover {
  border: 1px solid #777;
}

.landscape img {
  width: 100%;
  height: auto;
  margin-top: 20%;
}

div.galery img {
  width: 100%;
  height: auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  margin-top: -13%;
  margin-left: 70%;
  background: #f2d9e6;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.home h2 {
  margin-left: 50%;
}

.home p {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

div.photo {
  border: 1px solid #ccc;
}

div.photo:hover {
  border: 1px solid #777;
}

div.photo img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .dropbtn {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .dropbtn {
    width: 100%;
  }
}

.krayevyd {
  margin-top: 47%;
  background: #ecc6d9;
  width: 100%;
  height: 686px;
}

div.landscapee {
  margin: 3%;
  float: left;
  width: 12%;
  margin-top: 2%;
}

div.landscapee:hover {
  border: 1px solid #777;
}

div.landscapee img {
  width: 100%;
  height: auto;
}

div.landscape {
  float: left;
  width: 11%;
  margin-top: -38%;
  margin-left: 77%;
}

div.landscape:hover {
  border: 1px solid #777;
}

div.landscape img {
  width: 100%;
  height: auto;
}

video {
  width: 18%;
  margin-left: 23%;
  margin-top: 3%;
}
