.farme {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
}

.dots {
  padding-top: 72px;
  padding-left: 72%;
}

.dots .dot {
  width: 50%;
  height: 50px;
  background: #6f0d0d;
  border-radius: 100%;
  margin: 0% 100%;
  animation: dot  -5s alternate infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 5s;
}

.dots .circle {
  width: 50%;
  height: 50px;
  background: #000;
  border-radius: 100%;
  margin: 0% 100%;
  animation: dot -1s  alternate infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}

@keyframes dot {
  from {
    transform: translate3d(200px, 0, 0);
  }

  to {
    transform: translate3d(-560px, 0, 0);
  }
}
