.rama {
  border-style: dotted;
  border-color: #166407;
  border-width: 20px;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-right: 3%;
}

.ramka-wr {
  width: 12%;
  height: 295px;
  padding: 1%;
  position: relative;
  overflow: hidden;
  margin-left: 18%;
  margin-top: 13%;
}

.ramka-wr .ramka {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
}

.ramka-wr::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  background:
    repeating-linear-gradient(
      #39ff10 0%,
      #55735d 7.5px,
      #123c30 7.5px,
      #1e6d27 15px,
      #fff 15px,
      #2d7e21 22.5px,
      #43936e 22.5px,
      #3a800a 30px
    );
  transform: translateX(-20%) translateY(-20%) rotate(-45deg);
  animation: anim-ramka 20s linear infinite;
}

.ramka img {
  width: 100%;
}

.ramka-wr,
.ramka-wr .ramka {
  box-shadow: 0 0 2px #0a6f2c, 0 0 5px rgb(13, 75, 20), inset 0 0 5px rgb(12, 128, 30);
  border-radius: 10px;
}

@keyframes anim-ramka {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 450px;
  }
}

.hosok h1 {
  margin-left: 40%;
  margin-top: -25%;
  margin-bottom: 8%;
  color: #208d0a;
}

.hosok h2 {
  margin-left: 47%;
  margin-top: 6%;
  color: #1e730db0;
}

.hosok p {
  margin-left: 40%;
  margin-top: 2%;
  margin-right: 15%;
}

.hosok img {
  margin-left: 55%;
  width: 10%;
}

.name h2 {
  margin-left: 47%;
  margin-top: 6%;
  color: #1e730db0;
}

.name p {
  margin-left: 19%;
  margin-top: 7%;
  margin-right: 45%;
}

.name img {
  margin-left: 65%;
  width: 11%;
  margin-top: -11%;
}

.career h1 {
  margin-left: 40%;
  margin-top: 3%;
  color: #208d0a;
}

.career h2 {
  margin-left: 33%;
  margin-top: 6%;
  color: #1e730db0;
}

.career p {
  margin-left: 50%;
  margin-top: 8%;
  margin-right: 15%;
}

.career img {
  margin-left: 19%;
  width: 18%;
  margin-top: -15%;
}

.today h2 {
  margin-left: 33%;
  margin-top: 6%;
  color: #1e730db0;
}

.today p {
  margin-left: 19%;
  margin-top: 4%;
  margin-right: 15%;
}

.projects h2 {
  margin-left: 33%;
  margin-top: 6%;
  color: #1e730db0;
}

.projects p {
  margin-left: 19%;
  margin-top: 8%;
  margin-right: 58%;
}

.projects img {
  margin-left: 43%;
  width: 18%;
  margin-top: -22%;
  margin-bottom: 3%;
}

.projectss p {
  margin-left: 62%;
  margin-top: -18%;
  margin-right: 15%;
}

.projectsss p {
  margin-left: 19%;
  margin-top: 5%;
  margin-right: 15%;
}

.art h2 {
  margin-left: 45%;
  margin-top: 6%;
  color: #1e730db0;
}

.art p {
  margin-left: 19%;
  margin-top: 8%;
  margin-right: 15%;
}

.art img {
  margin-left: 23%;
  width: 18%;
  margin-bottom: 3%;
}

.artt p {
  margin-left: 19%;
  margin-top: -4%;
  margin-right: 15%;
}

.gif img {
  margin-left: 45%;
  width: 14%;
  margin-top: -23%;
  margin-bottom: 4%;
}

.arttt img {
  margin-left: 65%;
  width: 12%;
  margin-top: -25%;
  margin-bottom: 5%;
}

.charity h2 {
  margin-left: 45%;
  margin-top: 6%;
  color: #1e730db0;
}

.charity p {
  margin-left: 19%;
  margin-top: 8%;
  margin-right: 43%;
}

.charity img {
  margin-left: 64%;
  width: 12%;
  margin-bottom: -4%;
  margin-top: -10%;
}

.life h2 {
  margin-left: 45%;
  margin-top: 6%;
  color: #1e730db0;
}

.life p {
  margin-left: 19%;
  margin-right: 15%;
}

.life img {
  margin-left: 29%;
  width: 30%;
  margin-bottom: 8%;
}

.life video {
  margin-left: 8%;
  width: 10%;
  margin-bottom: 8%;
}
