#wrapper {
  width: 96%;
  max-width: 920px;
  margin: auto;
  padding: 2%;
  box-sizing: border-box;
}

#main {
  width: 60%;
  margin-right: 5%;
  float: left;
  margin-left: 154px;
}

h1 {
  height: 98px;
  width: 216px;
  float: left;
  display: block;
  background: url(images/sllogo.png) 0 0 no-repeat;
}

#banner {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}

#banner img {
  width: 100%;
  height: auto;
}

.h1 {
  text-align: center;
}
