div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 200px;
  height: 656px;
}

.desc {
  padding: 20px;
  text-align: center;
}
