#circle {
  width: 100px;
  height: 100px;
  background: #50ff24;
  border-radius: 50px;
}

#square {
  width: 120px;
  height: 120px;
  background: #02facd;
}

#rectangle {
  width: 220px;
  height: 120px;
  background: #e0dd02;
}

.radius {
  background: #f0f0f0;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 50px;
  margin-right: 1888px;
  height: 98px;
}

#panel {
  padding: 2px;
  margin: 0;
  background: navy;
  color: white;
  border: 2px solid white;
}

.ex1 {
  box-sizing: border-box;
  border: 2px solid black;
  width: 120px;
  height: 120px;
}

.ex2 {
  box-sizing: border-box;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
