.rama {
  border: 29px double #ac0c85;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.gin h1 {
  margin-left: 40%;
  margin-top: 4%;
  color: #c09;
}

.gin p {
  margin-left: 42%;
  margin-top: 6%;
  margin-right: 20%;
}

.ramka img {
  width: 72%;
}

.ramka {
  margin-top: -7%;
  margin-left: 14%;
  position: relative;
  width: 17%;
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ramka::before {
  content: '';
  position: absolute;
  z-index: -2;
  width: 200%;
  height: 200%;
  background-color: #ee9ed3;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#993f76, #d122a5), linear-gradient(#ee9ed3, #ee9ed3), linear-gradient(#ef00be, #ef00be), linear-gradient(#ffb2e5, #ffb2e5);
  animation: anim-ramka-1 4s linear infinite;
}

.ramka::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

@keyframes anim-ramka-1 {
  100% {
    transform: rotate(1turn);
  }
}

.gif img {
  margin-left: 62%;
  margin-top: -12%;
  width: 17%;
}

.years h2 {
  margin-left: 37%;
  margin-top: 3%;
  color: #c09;
}

.years p {
  margin-left: 42%;
  margin-top: 7%;
  margin-right: 20%;
}

.years img {
  margin-left: 14%;
  margin-top: -13%;
}

.today h2 {
  margin-left: 37%;
  margin-top: 3%;
  color: #c09;
}

.today p {
  margin-top: 5%;
  margin-right: 48%;
  margin-left: 14%;
}

.today img {
  margin-left: 64%;
  margin-top: -24%;
  width: 15%;
}

.solo h2 {
  margin-left: 37%;
  margin-top: 3%;
  color: #c09;
}

.solo p {
  margin-top: 5%;
  margin-right: 21%;
  margin-left: 41%;
}

.solo img {
  margin-left: 14%;
  margin-top: -24%;
  width: 20%;
}

.voice h2 {
  margin-left: 37%;
  margin-top: 3%;
  color: #c09;
}

.voice p {
  margin-top: 5%;
  margin-right: 37%;
  margin-left: 30%;
}

.voice img {
  margin-left: 14%;
  margin-top: -18%;
  width: 15%;
}

.foto img {
  margin-left: 64%;
  margin-top: -23%;
  width: 15%;
  margin-bottom: 1%;
}

.charity h2 {
  margin-left: 37%;
  margin-top: 3%;
  color: #c09;
}

.charity p {
  margin-top: 5%;
  margin-right: 21%;
  margin-left: 41%;
}

.charity img {
  margin-left: 14%;
  margin-top: -15%;
  width: 13%;
}

.personal h2 {
  margin-left: 37%;
  margin-top: 3%;
  color: #c09;
}

.personal p {
  margin-top: 5%;
  margin-right: 24%;
  margin-left: 18%;
}

.personal img {
  margin-left: 14%;
  margin-top: -15%;
  width: 34%;
}

.personal video {
  margin-left: 11%;
  width: 9%;
}
