.box {
  width: 100%;
  box-shadow:
    0 0 0 7px #770db3,
    0 0 0 9px #13135e,
    10px 0 0 15px #8b7bb7;
  margin-bottom: 2%;
  margin-top: 2%;
}

.ramka {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 3%;
  width: 21%;
  box-shadow: inset 0 0 0 2px #1b5e20;
}

.ramka::before,
.ramka::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  margin: -5%;
  box-shadow: inset 0 0 0 6px #312438;
  animation: anim-ramka 8s linear infinite;
}

.ramka::before {
  animation-delay: -4s;
}

.ramka:hover::after,
.ramka:hover::before {
  background-color: #ef6c00;
}

@keyframes anim-ramka {
  0%,
  100% {
    clip: rect(1px, 220px, 6px, 1px);
  }

  25% {
    clip: rect(1px, 6px, 220px, 1px);
  }

  50% {
    clip: rect(218px, 220px, 220px, 1px);
  }

  75% {
    clip: rect(1px, 220px, 220px, 218px);
  }
}

.rm h1 {
  margin-left: 40%;
  color: #26004d;
}

.rm img {
  width: 80%;
}

.rm h2 {
  margin-left: 53%;
  margin-top: -20%;
}

.rm p {
  margin-left: 34%;
  margin-right: 15%;
}

.gif img {
  width: 36%;
  margin-left: 43%;
}

.pseudonym {
  margin-top: 7%;
}

.pseudonym h2 {
  margin-left: 40%;
  color: #26004d;
}

.pseudonym p {
  margin-left: 13%;
  margin-right: 15%;
}

.pseudonym img {
  width: 50%;
  margin-left: 24%;
}

.biography h2 {
  margin-top: 3%;
  margin-left: 40%;
  color: #26004d;
}

.biography p {
  margin-left: 13%;
  margin-right: 15%;
}

.biog p {
  margin-left: 40%;
  margin-top: -25%;
}

.biography img {
  width: 20%;
  margin-left: 13%;
  margin-top: 3%;
}

.debut h2 {
  margin-top: 20%;
  margin-left: 40%;
  color: #26004d;
}

.debut p {
  margin-left: 40%;
  margin-top: 4%;
  margin-right: 15%;
}

.debut img {
  margin-top: -23%;
  margin-left: 13%;
  width: 23%;
}

.problematic h2 {
  margin-top: 10%;
  margin-left: 30%;
  color: #26004d;
}

.problematic p {
  margin-top: 3%;
  margin-right: 50%;
  margin-left: 7%;
}

.problematic img {
  margin-left: 60%;
  margin-top: -40%;
  margin-bottom: 4%;
  width: 23%;
}

.mono h2 {
  margin-top: 10%;
  margin-left: 30%;
  color: #26004d;
}

.mono p {
  margin-top: 3%;
  margin-right: 15%;
  margin-left: 50%;
}

.mono img {
  width: 23%;
  margin-left: 12%;
  margin-top: -43%;
  margin-bottom: 5%;
}

.art h2 {
  margin-top: 10%;
  margin-left: 40%;
  color: #26004d;
}

.art p {
  margin-left: 17%;
  margin-right: 20%;
}

.art img {
  width: 20%;
  margin-left: 12%;
}

.art video {
  margin-left: 8%;
  width: 14%;
}

.foto img {
  margin-left: 65%;
  width: 20%;
  margin-bottom: 1%;
  margin-top: -31%;
}
