.border {
  margin-left: 15%;
  margin-right: 15%;
}

div.section-background {
  background-image: url('media/pumpkin.webp');
  height: 14vh;
  background-size: cover;
}

.halloween {
  display: grid;
  grid-template-columns: 60% 40%;
}

.halloween h2 {
  padding-left: 20%;
  padding-top: 9%;
  color: #e2ea4fb8;
}

.halloween img {
  width: 20%;
  padding-left: 35%;
}

.grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.grid img {
  padding-left: 52%;
  width: 25%;
}

.gridusa {
  display: grid;
  grid-template-columns: 70% 30%;
}

.gridusa img {
  width: 50%;
  padding-left: 27%;
}

.borderimg {
  border: 24px solid transparent;
  padding: 15px;
  border-image: url('./media/rafrafs.gif') 24% round;
}

.border h3 {
  padding-left: 31%;
  color: #808615;
}

.germany {
  display: grid;
  grid-template-columns: 60% 40%;
}

.germany img {
  padding-left: 30%;
  width: 50%;
}

.china {
  display: grid;
  grid-template-columns: 60% 40%;
}

.china img {
  padding-left: 30%;
  width: 50%;
}