.rama {
  border-style: dashed double none;
  border-color: #a487a1;
  border-width: 15px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.btn {
  color: #131313;
  cursor: pointer;
  text-decoration: none;
}

table {
  margin-left: 46%;
  margin-top: -18%;
}

#participants {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#participants td {
  border: 2px solid #a487a1;
  padding: 10px;
}

#participants th {
  border: 1px solid #a487a1;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a487a1;
  color: #000;
}

.bts h1 {
  margin-left: 42%;
  color: #7a6788;
}

.bts img {
  padding: 15px;
}

.polaroid {
  position: relative;
  width: 220px;
}

.polaroid img {
  border: 10px solid  #a487a1;
  border-bottom: 45px solid #a487a1;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -9%;
  font: 225% 'Kaushan Script', cursive;
  color: #000;
  margin-left: 107%;
}

.text p {
  padding: 1%;
  background: #a487a1;
  margin-right: 1%;
  margin-left: 45%;
  margin-top: -6%;
}

.text h4 {
  padding: 1%;
  background: #a487a1;
  margin-right: 60%;
}

.text img {
  margin-top: -34%;
  margin-left: 5%;
}

.name h2 {
  margin-left: 42%;
  color: #7a6788;
}

.name p {
  padding: 1%;
  background: #a487a1;
  margin-right: 55%;
}

.name img {
  margin-left: 60%;
  margin-top: -11%;
}

.career h2 {
  margin-left: 42%;
  color: #7a6788;
}

.career p {
  padding: 1%;
  background: #a487a1;
  margin-left: 44%;
  margin-top: 5%;
}

.career img {
  margin-top: -35%;
  margin-left: 10%;
  width: 23%;
}

.successes h2 {
  margin-left: 42%;
  color: #7a6788;
}

.successes p {
  padding: 1%;
  background: #a487a1;
  margin-right: 55%;
  margin-top: 5%;
}

.successes img {
  border: 10px solid transparent;
  padding: 15px;
}

.polaroidd {
  position: relative;
  width: 220px;
}

.polaroidd img {
  box-shadow: 3px 3px 3px #777;
  width: 170%;
  margin-left: 532%;
  margin-top: -280%;
  margin-bottom: 80%;
}

.popularity h2 {
  margin-left: 42%;
  color: #7a6788;
}

.popularity p {
  padding: 1%;
  background: #a487a1;
  margin-left: 44%;
  margin-top: 5%;
}

.popularity video {
  margin-left: 8%;
  width: 23%;
  margin-bottom: 30%;
  margin-top: -53%;
}

.cooperation {
  margin-top: -23%;
}

.cooperation h2 {
  margin-left: 42%;
  color: #7a6788;
}

.cooperation p {
  padding: 1%;
  background: #a487a1;
  margin-right: 55%;
  margin-top: 5%;
}

.cooperation img {
  margin-left: 56%;
  margin-bottom: 20%;
  margin-top: -50%;
}

.recognition h2 {
  margin-left: 42%;
  color: #7a6788;
}

.recognition p {
  padding: 1%;
  background: #a487a1;
  margin-left: 44%;
  margin-top: 5%;
}

.recognition img {
  width: 40%;
  margin-left: 2%;
  margin-top: -58%;
  margin-bottom: 50%;
}

.tour {
  margin-top: -30%;
}

.tour h2 {
  margin-left: 42%;
  color: #7a6788;
}

.tour p {
  padding: 1%;
  background: #a487a1;
  margin-right: 55%;
  margin-top: 5%;
}

.tour img {
  margin-left: 56%;
  margin-bottom: 63%;
  margin-top: -97%;
}

.polaroiddd {
  position: relative;
  width: 220px;
}

.polaroiddd img {
  box-shadow: 3px 3px 3px #482ec6;
  width: 304%;
  margin-left: 476%;
  margin-top: -305%;
  margin-bottom: 132%;
}

.second h2 {
  margin-left: 42%;
  color: #7a6788;
}

.second p {
  padding: 1%;
  background: #a487a1;
  margin-left: 44%;
  margin-top: 5%;
}

.second img {
  width: 40%;
  margin-left: 2%;
  margin-top: -30%;
  margin-bottom: 50%;
}

.vplyv h2 {
  margin-top: -42%;
  margin-left: 42%;
  color: #7a6788;
}

.vplyv p {
  padding: 1%;
  background: #a487a1;
  margin-right: 55%;
  margin-top: 5%;
}

.vplyv img {
  margin-left: 52%;
  margin-top: -77%;
  margin-bottom: 22%;
}

.music h2 {
  margin-left: 42%;
  color: #7a6788;
}

.music p {
  padding: 1%;
  background: #a487a1;
  margin-left: 53%;
  margin-top: 5%;
}

.songs p {
  padding: 1%;
  background: #a487a1;
  margin-right: 55%;
  margin-top: -15%;
}

.songs img {
  margin-left: 54%;
  margin-top: -25%;
  margin-bottom: 5%;
}

.awards h2 {
  margin-left: 42%;
  color: #7a6788;
}

.awards p {
  padding: 1%;
  background: #a487a1;
  margin-left: 53%;
  margin-top: 5%;
}

.awards img {
  margin-top: -19%;
  margin-left: 4%;
}

.vsesvit h2 {
  margin-left: 42%;
  color: #7a6788;
}

.vsesvit p {
  padding: 1%;
  background: #a487a1;
  margin-right: 55%;
  margin-top: 5%;
}

.vsesvit img {
  margin-left: 64%;
  margin-top: -16%;
  margin-bottom: 1%;
}
