.rama {
  border-style: solid;
  border-color: #141d24;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

.ramka img {
  width: 60%;
  border-radius: 28%;
}

.ramka {
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 375px;
  border: 8px solid #252f38;
  background: #617a8f;
  animation: anim-ramka 10s infinite;
}

@keyframes anim-ramka {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }

  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }

  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }

  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}

.jimin h1 {
  margin-left: 42%;
}

.jimin h2 {
  margin-left: 50%;
  margin-top: -13%;
}

.jimin p {
  margin-left: 40%;
  margin-right: 15%;
}

.gif img {
  margin-left: 57%;
  width: 20%;
}

.life h2 {
  margin-left: 37%;
  margin-top: 5%;
}

.life p {
  margin-left: 10%;
  margin-right: 50%;
  margin-top: 5%;
}

.life img {
  margin-left: 57%;
  width: 20%;
  margin-top: -12%;
}

.career h2 {
  margin-left: 38%;
  margin-top: 5%;
}

.career p {
  margin-left: 10%;
  margin-right: 70%;
  margin-top: 5%;
}

.career img {
  margin-left: 37%;
  width: 18%;
  margin-top: -23%;
}

.today p {
  margin-left: 62%;
  margin-top: -24%;
  margin-right: 19%;
}

.projects h2 {
  margin-left: 40%;
  margin-top: 12%;
}

.projects p {
  margin-left: 10%;
  margin-right: 19%;
  margin-top: 5%;
}

.projects img {
  margin-left: 37%;
  width: 18%;
}

.projectss p {
  margin-left: 10%;
  margin-right: 70%;
  margin-top: -16%;
}

.projectsss p {
  margin-left: 58%;
  margin-top: -10%;
}

.charity h2 {
  margin-left: 41%;
  margin-top: 11%;
}

.charity p {
  margin-left: 10%;
  margin-right: 45%;
  margin-top: 12%;
}

.charity img {
  margin-left: 59%;
  width: 18%;
  margin-top: -18%;
}

.contribution h2 {
  margin-left: 41%;
  margin-top: 11%;
}

.contribution p {
  margin-left: 27%;
  margin-right: 38%;
  margin-top: 6%;
}

.contribution img {
  margin-left: 10%;
  width: 16%;
  margin-top: -20%;
}

.foto img {
  margin-left: 33%;
  margin-right: 38%;
  margin-top: -8%;
  width: 22%;
}

.contribution video {
  margin-left: 63%;
  width: 14%;
  margin-top: -33%;
  margin-bottom: 16%;
}
