.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 15%;
  margin: auto;
  text-align: center;
  border-radius: 7%;
  margin-top: 20%;
}

.card img {
  width: 36%;
  border-radius: 50%;
  margin-top: 25px;
}

.title {
  color: grey;
  font-size: 16px;
}

.button {
  border: none;
  padding: 1%;
  width: 92%;
  font-size: 19px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.background {
  background: #bb77;
}
