
html {
  height: 100%;
  background-color: #f8f8f8;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
  width: 165px;
}

.menu-title {
  display: block;
  width: $menu_WIDTH;
  height: 40px;
  padding: 12px 0 0;
  background: #db12128f;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:hover { background: #537b0d; }
.menu-title:hover::before { border-top-color: #8db842; }

.menu:hover > .menu-title::before {
  border-top-width: 0;
  transition:
    0.2s border-top-width ease-in,
    0.3s border-top-color;
}

.menu:hover > .menu-title::after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd { background: #c66f1391; }
.menu-title_3rd { background: #eccb7de3; }
.menu-title_4rm { background: #317d268f; }
.menu-title_5rn { background: #1881998f; }
.menu-title_6ry { background: #171af78f; }
.menu-title_7rk { background: #7329958f; }

.menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
}

.menu-dropdown::after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
  padding: 0 0;
  z-index: 99;
}

.menu-dropdown > * {
  overflow: hidden;
  padding: 5px 10px;
}

.menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
