h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

div.cooking {
  background-size: 100%;
  background-image: url('./cook.jpg');
  opacity: 1;
  animation-timing-function: linear;
  height: 50vh;
  animation-duration: 5s;
  animation-name: transparency;
  position: relative;
  margin-left: 15%;
  right: 8%;
}

@keyframes transparency {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.cooking h1 {
  margin-left: 34%;
  font-style: italic;
  text-shadow: #683838 3px 5px 1px;
  font-size: 5em;
  color: #ff8080;
  padding-top: 5%;
}

.cooking h2 {
  margin-left: 3%;
  margin-right: 28%;
  margin-top: 9%;
  font-style: oblique;
}

.description h2 {
  margin-left: 36%;
  font-style: italic;
  font-size: 3em;
  color: #ff8080;
}

.description p {
  margin-left: 9%;
  margin-right: 13%;
  font-style: oblique;
}

.colortext {
  color: #ff8080;
}

.dishes h2 {
  margin-left: 18%;
}

.dishes h3 {
  margin-left: 33%;
  font-style: italic;
  font-size: 2em;
  color: #ff8080;
}

table {
  border-collapse: collapse;
  width: 83%;
  margin-left: 9%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ff8080;
}

.ukraine {
  background-image: url('./ukraine.webp');
  height: 44vh;
  width: 45%;
  margin-left: 9%;
  margin-top: 3%;
}

.ukraine h2 {
  margin-left: 38%;
  padding-top: 1%;
  color: #0d0d0d;
}

.ukraine p {
  margin-left: 6%;
  margin-right: 8%;
  font-style: oblique;
  color: #0d0d0d;
}

.georgia {
  background-image: url('./georgia.svg');
  height: 53vh;
  width: 45%;
  margin-left: 9%;
  margin-top: 5%;
}

.georgia h2 {
  margin-left: 47%;
  padding-top: 15%;
}

.georgia p {
  padding-top: 12%;
  margin-left: 10%;
  margin-right: 7%;
}

.poland {
  background-image: url('./poland.gif');
  height: 45vh;
  width: 26%;
  margin-left: 63%;
  margin-top: -61%;
}

.poland h2 {
  margin-left: 40%;
  padding-top: 18%;
  color: #0d0d0d;
}

.poland p {
  padding-top: 12%;
  margin-left: 10%;
  margin-right: 7%;
  color: #0d0d0d;
}

.italy {
  background-image: url('./italy.png');
  height: 43vh;
  width: 33%;
  margin-left: 60%;
  margin-top: 8%;
}

.italy h2 {
  margin-left: 40%;
  padding-top: 18%;
  color: #0d0d0d;
}

.italy p {
  padding-top: 12%;
  margin-left: 10%;
  margin-right: 7%;
  color: #0d0d0d;
}

.hungary {
  background-image: url('./hungary.jpg');
  height: 37vh;
  width: 32%;
  margin-left: 11%;
  margin-top: 6%;
}

.hungary h2 {
  margin-left: 40%;
  padding-top: 11%;
  color: #0d0d0d;
}

.hungary p {
  padding-top: 4%;
  margin-left: 10%;
  margin-right: 7%;
  color: #0d0d0d;
}

.czech {
  background-image: url('./czech.jpg');
  height: 37vh;
  width: 41%;
  margin-left: 52%;
  margin-top: -22%;
}

.czech h2 {
  margin-left: 40%;
  padding-top: 11%;
  color: #0d0d0d;
}

.czech p {
  padding-top: 4%;
  margin-left: 10%;
  margin-right: 7%;
  color: #0d0d0d;
}

.spain {
  background-image: url('./spain.jpg');
  height: 51vh;
  width: 45%;
  margin-left: 9%;
  margin-top: 6%;
}

.spain h2 {
  margin-left: 42%;
  padding-top: 26%;
  color: #0d0d0d;
}

.spain p {
  padding-top: 4%;
  margin-left: 18%;
  margin-right: 7%;
  color: #0d0d0d;
}

.france {
  background-image: url('./france.jpg');
  height: 51vh;
  width: 45%;
  margin-left: 55%;
  margin-top: -27%;
}

.france h2 {
  margin-left: 39%;
  padding-top: 18%;
}

.france p {
  padding-top: 4%;
  margin-left: 16%;
  margin-right: 15%;
}
