.snov {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.stule {
  position: relative;
  height: 100vh;
}

html {
  background: linear-gradient(#123 30%, #667);
}

.snow,
.snow::before,
.snow::after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(3px 3px at 34px 493px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 498px 18px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 514px 43px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 70px 267px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 144px 482px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 15px 407px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 216px 381px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 330px 564px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 531px 114px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 445px 27px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 192px 251px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 73px 168px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 395px 491px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 212px 188px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 552px 464px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 130px 209px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 433px 262px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 402px 551px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 350px 434px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 480px 355px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 166px 200px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 24px 367px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 469px 151px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 596px 285px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 304px 527px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 21px 427px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 229px 150px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 336px 438px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 557px 181px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 513px 138px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 285px 266px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 53px 50px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 210px 422px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 289px 14px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 514px 161px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 44px 9px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 594px 223px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 221px 491px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 371px 555px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 117px 476px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 67px 584px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 363px 71px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 407px 171px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 222px 359px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 204px 319px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 391px 92px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 439px 355px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 562px 379px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 176px 50px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 566px 85px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 399px 576px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 211px 568px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 535px 279px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 553px 35px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 307px 519px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 261px 203px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 66px 485px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 509px 98px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 188px 111px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 518px 139px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 549px 513px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 89px 267px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 457px 288px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 141px 265px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 527px 10px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 451px 498px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 59px 60px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 383px 389px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 293px 215px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 536px 414px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 3s linear infinite;
  content: "";
  overflow: hidden;
}

.snow::after {
  margin-left: -200px;
  opacity: 0.4;
  animation-duration: 6s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow::before {
  animation-duration: 9s;
  animation-direction: reverse;
  margin-left: -300px;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}

.winter img {
  width: 100%;
}

.winter h1 {
  color: #b6d9eaa3;
  padding-left: 37%;
}

.winter p {
  color: #b6d9eaa5;
}

.container {
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  margin-top: -1%;
  margin-bottom: 6%;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}

#carousel:hover {
  animation-play-state: paused;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 90%;
  height: 100%;
  overflow: hidden;
  border: solid 2px #1d3e3b;
}

#carousel figure img {
  width: 100%;
  height: 100%;
}

#carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}

#carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px);
}

#carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px);
}

#carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px);
}

#carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px);
}

#carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px);
}

#carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px);
}

#carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px);
}

#carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px);
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.climaticwinter h2 {
  color: #56606f;
  padding-left: 30%;
}

.climaticwinter p {
  color: #56606f;
}

ul.a {
  color: #8698b5;
  padding-left: 25%;
  list-style-type: "\2603";
}

.omens {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.omens h2 {
  color: #8698b5;
  padding-left: 20%;
}

.text {
  padding-right: 25%;
}

.olof img {
  width: 100%;
  padding-top: 63%;
  padding-left: 30%;
}

.stitch img {
  width: 100%;
  padding-top: 60%;
  margin-left: -40%;
}

.facts h2 {
  color: #7290bfbd;
  padding-left: 35%;
}

ul.b {
  list-style-type: "\2744";
  color: #7290bfbd;
  padding-left: 15%;
  padding-right: 20%;
}

.thesnows {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}

.thesnows h2 {
  padding-left: 35%;
  color: #323d60;
}

.thesnows p {
  color: #323d60;
}

.thesnows img {
  padding-right: 50%;
}

.foto {
  display: grid;
  grid-template-columns: 50% 50%;
}