#car {
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

#car2 {
  animation-duration: 20s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#car3 {
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

#car4 {
  animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#car5 {
  animation-duration: 5s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein2 {
  from {
    margin-left: 200%;
    height: 400px;
  }

  to {
    margin-left: 10%;
    height: 50px;
  }
}

img {
  height: 100%;
  width: 100%;
}
