.tato {
  display: grid;
  grid-template-columns: 10% 90%;
}

div.section-background {
  background-image: url('arrows.jpg');
  height: 17vh;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 73% 30%;
  text-decoration: none;
}

li a.active {
  background-color: #675d714a;
}

li a:hover:not(.active) {
  background-color: #675d714a;
}

.arrows {
  color: #c76ec6;
  padding-top: 5%;
  padding-right: 40%;
}

.klaud {
  margin-top: 10%;
}

.klaud h2 {
  color: #6414156e;
  padding-left: 40%;
}

.media {
  display: grid;
  grid-template-columns: 40% 60%;
}

.media video {
  width: 95%;
  padding-left: 3%;
  padding-top: 2%;
}

.media img {
  width: 95%;
  padding-top: 7%;
  padding-left: 2%;
}

.media p {
  margin-top: -14%;
  padding-left: 2%;
  color: #6414156e;
}

.kery {
  margin-top: 10%;
}

.kery h2 {
  color: #e5b4ee;
  padding-left: 40%;
}

.kerymedia {
  display: grid;
  grid-template-columns: 50% 50%;
}

.kerymedia video {
  width: 100%;
}

.kerymedia img {
  width: 95%;
  padding-left: 3%;
}

.kery p {
  padding-left: 2%;
  color: #e5b4ee;
}

.moskov {
  margin-top: 10%;
}

.moskov h2 {
  color: #911614;
  padding-left: 40%;
}

.moskovmedia {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.moskovmedia video {
  width: 100%;
  padding-left: 12%;
  padding-top: 8%;
}

.moskovmedia img {
  width: 100%;
  padding-top: 12%;
}

.gif {
  width: 40%;
  padding-left: 30%;
}

.moskov p {
  padding-left: 2%;
  color: #911614;
  margin-bottom: 6%;
}