.tato {
  display: grid;
  grid-template-columns: 10% 90%;
}

div.section-background {
  background-image: url('fighters.jpg');
  height: 15vh;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 73% 30%;
  text-decoration: none;
}

li a.active {
  background-color: #675d714a;
}

li a:hover:not(.active) {
  background-color: #675d714a;
}

.fighters {
  padding-top: 5%;
}

.fighters h2 {
  color: #d38b5a;
  text-indent: 10%;
}

.fighters p {
  padding-left: 5%;
  padding-right: 45%;
  color: #d38b5a;
}

.leomord {
  margin-top: 10%;
}

.leomord h2 {
  margin-left: 45%;
  color: #06a28d;
}

.videotex {
  display: grid;
  grid-template-columns: 40% 60%;
}

.videotex p {
  padding-right: 5%;
  padding-top: 5%;
  margin-left: 5%;
  color: #06a28d;
}

.vidos video {
  width: 100%;
}

.media {
  display: grid;
  grid-template-columns: 40% 60%;
}

.media img {
  width: 100%;
}

.gif {
  width: 90%;
  padding-top: 5%;
  padding-left: 5%;
}

.chow {
  margin-top: 10%;
}

.chow h2 {
  color: #c9b362;
  padding-left: 45%;
}

.chow p {
  color: #c9b362;
  padding-left: 5%;
}

.medias {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.medias video {
  width: 100%;
}

.medias img {
  width: 100%;
}

.guf {
  width: 60%;
  padding-left: 20%;
}

.aldous {
  margin-top: 10%;
}

.aldous h2 {
  color: #822f1c;
  padding-left: 45%;
}

.medya p {
  padding-top: 12%;
  padding-left: 7%;
  padding-right: 5%;
  color: #822f1c;
}

.medya {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 5%;
}

.medya video {
  width: 100%;
}

.medya img {
  width: 100%;
}