.tato {
  display: grid;
  grid-template-columns: 10% 90%;
}

div.section-background {
  background-image: url('asasin.jpg');
  height: 15vh;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 73% 30%;
  text-decoration: none;
}

li a.active {
  background-color: #675d714a;
}

li a:hover:not(.active) {
  background-color: #675d714a;
}

.killers {
  padding-top: 5%;
}

.killers h2 {
  color: #285b6fe5;
  text-indent: 10%;
}

.killers p {
  padding-left: 5%;
  padding-right: 45%;
  color: #285b6fe5;
}

.fany {
  margin-top: 10%;
}

.fany h2 {
  color: #d7a43d;
  padding-left: 40%;
}

.mediafany {
  display: grid;
  grid-template-columns: 40% 60%;
}

.mediafany video {
  width: 95%;
  padding-left: 3%;
  padding-top: 2%;
}

.mediafany img {
  width: 95%;
  padding-top: 7%;
  padding-left: 2%;
}

.fany p {
  margin-top: -6%;
  padding-left: 2%;
  color: #d7a43d;
  padding-right: 60%;
}

.selena {
  margin-top: 10%;
}

.selena h2 {
  color: #7b4392;
  padding-left: 40%;
}

.selena p {
  padding-left: 2%;
  color: #7b4392;
  padding-right: 27%;
}

.selenamedia {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.selenamedia video {
  width: 95%;
  padding-top: 6%;
}

.selenamedia img {
  width: 95%;
  padding-top: 7%;
  padding-left: 2%;
}

.selenagif {
  width: 95%;
  padding-top: 7%;
  padding-left: 2%;
}

.lans {
  margin-top: 10%;
  margin-bottom: 5%;
}

.lans h2 {
  color: #578df1;
  padding-left: 40%;
}

.lans p {
  margin-top: 20%;
  padding-left: 2%;
  color: #578df1;
}

.lansmedia {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.lansmedia video {
  width: 95%;
  padding-left: 3%;
  padding-top: 2%;
}

.lansmedia img {
  width: 95%;
  padding-top: 7%;
  padding-left: 2%;
}