.tato {
  display: grid;
  grid-template-columns: 10% 90%;
}

div.section-background {
  background-image: url('magicians.jpg');
  height: 15vh;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 73% 30%;
  text-decoration: none;
}

li a.active {
  background-color: #675d714a;
}

li a:hover:not(.active) {
  background-color: #675d714a;
}

.magicians {
  padding-left: 3%;
  padding-top: 7%;
}

.magicians h2 {
  color: #101120;
}

.magicians p {
  color: #101120;
  padding-right: 30%;
}

.lunox {
  padding-top: 8%;
}

.lunox h2 {
  color: #e2b7e3;
  padding-left: 45%;
}

.lunox p {
  color: #e2b7e3;
  padding-left: 3%;
}

.lunoxmedia {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.lunoxmedia video {
  width: 100%;
  padding-top: 15%;
}

.lunoxmedia img {
  width: 100%;
  padding-top: 15%;
}

.harit {
  padding-top: 8%;
}

.harit h2 {
  color: #5e8291;
  padding-left: 45%;
}

.haritmedia {
  display: grid;
  grid-template-columns: 50% 50%;
}

.haritmedia video {
  width: 81%;
  padding-left: 7%;
}

.haritmedia img {
  width: 73%;
  padding-left: 10%;
}

.text {
  display: grid;
  grid-template-columns: 50% 50%;
}

.text img {
  padding-left: 10%;
}

.text p {
  padding-top: 15%;
  padding-right: 15%;
  color: #5e8291;
}

.harley {
  padding-top: 8%;
  margin-bottom: 5%;
}

.harley h2 {
  color: #403f69;
  padding-left: 45%;
}

.harleymedia {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.harleymedia video {
  width: 100%;
  padding-top: 15%;
}

.harleymedia p {
  color: #403f69;
  padding-left: 3%;
  padding-top: 30%;
}

.harleymedia img {
  width: 90%;
  padding-top: 15%;
}