.mlbbonst {
  display: grid;
  grid-template-columns: 39% 59%;
}

.logofoto {
  position: relative;
  width: 90%;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f0eded;
}

.logofoto:hover .overlay {
  opacity: 1;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay h2 {
  font-family: "Trirong", serif;
  padding-left: 25%;
  padding-top: 5%;
  text-shadow: 2px 2px;
}

.ul {
  list-style-type: none;
  padding-top: 10%;
  padding-left: 13%;
}

.videologo {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
}

.gameplay {
  margin-left: 2%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 59% 39%;
}

.gamtext {
  padding-left: 6%;
  background-color: #f0eded;
}

.gamtext h2 {
  text-shadow: 2px 2px;
}

.gamtext p {
  text-indent: 4%;
}

.person {
  margin-top: 3%;
}

.textperson {
  background-color: #f0eded;
}

.textperson h2 {
  padding-left: 40%;
  text-shadow: 2px 2px;
}

.textperson p {
  text-indent: 2%;
}

div.gallerypercon {
  margin: 3%;
  border: 1px solid #0f0e0e;
  float: left;
  width: 11%;
}

div.gallerypercon:hover {
  border: 1px solid #777;
}

div.gallerypercon img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 7%;
  text-align: center;
}

div.gallerypakito {
  margin: 2%;
  border: 2px solid #0f0e0e;
  float: left;
  width: 45%;
}

div.gallerypakito:hover {
  border: 1px solid #777;
}

div.gallerypakito img {
  width: 100%;
  height: auto;
}

div.descpakito {
  padding: 3%;
  text-align: center;
}

.turnir {
  background-color: #f0eded;
  margin-top: 58%;
}

.turnir h2 {
  padding-left: 42%;
  padding-top: 1%;
  text-shadow: 2px 2px;
}

.turnir h3 {
  padding-left: 12%;
  padding-bottom: 1%;
}

.turnir p {
  text-indent: 2%;
}

.turnirua h2 {
  padding-left: 30%;
  padding-top: 1%;
  text-shadow: 2px 2px;
}

.turnirua p {
  text-indent: 4%;
  background-color: #f0eded;
}

.fotozbirtoy img {
  width: 100%;
}

div.fotozbirtoy {
  width: 100%;
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3%;
}

div.textzbirtoy {
  text-align: center;
  padding: 10px 20px;
}

a:link,
a:visited {
  background-color: #bb9592;
  color: black;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(172, 159, 159);
}