.tato {
  display: grid;
  grid-template-columns: 10% 90%;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 73% 30%;
  text-decoration: none;
}

li a.active {
  background-color: #675d714a;
}

li a:hover:not(.active) {
  background-color: #675d714a;
}

p.mix {
  border: 2px solid #293159;
  border-radius: 8px;
}

.ranks h2 {
  padding-left: 35%;
}

.rangs img {
  width: 95%;
  padding-left: 2%;
}

.rangs p {
  padding-left: 2%;
  padding-right: 3%;
}

.ranks {
  padding-left: 2%;
  padding-right: 3%;
}

.warrior {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2%;
}

.warrior img {
  width: 20%;
  padding-left: 35%;
}

.warrior p {
  padding-right: 35%;
  padding-top: 10%;
}

.elite {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2%;
}

.elite img {
  width: 20%;
  padding-left: 35%;
}

.elite p {
  padding-right: 35%;
  padding-top: 10%;
}

.master {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 2%;
}

.master img {
  width: 20%;
  padding-left: 35%;
}

.master p {
  padding-right: 35%;
  padding-top: 10%;
}

.grandmaster {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 2%;
}

.grandmaster img {
  width: 20%;
  padding-left: 35%;
}

.grandmaster p {
  padding-right: 35%;
  padding-top: 10%;
}

.epic {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 2%;
}

.epic img {
  width: 20%;
  padding-left: 35%;
}

.grandmepicaster p {
  padding-right: 35%;
  padding-top: 10%;
}

.legend {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 2%;
}

.legend img {
  width: 20%;
  padding-left: 35%;
}

.legend p {
  padding-right: 35%;
  padding-top: 10%;
}

.mythical {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 2%;
}

.mythical img {
  width: 20%;
  padding-left: 35%;
}

.mythical p {
  padding-right: 35%;
  padding-top: 10%;
}

.fara {
  display: grid;
  grid-template-columns: 30% 60%;
  margin-top: 3%;
}

.fara p {
  padding-left: 6%;
  padding-top: 8%;
}

.fara img {
  width: 50%;
  padding-left: 25%;
}

.mif {
  margin-top: 3%;
}

.mif h2 {
  padding-left: 20%;
}

.mif video {
  width: 50%;
  padding-left: 17%;
}

.ixia img {
  width: 50%;
  padding-left: 17%;
}

.ixia h3 {
  padding-left: 7%;
}