.tato {
    display: grid;
    grid-template-columns: 10% 90%;
}

div.section-background {
    background-image: url('support.jpg');
    height: 15vh;
}

ul {
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 73% 30%;
    text-decoration: none;
}

li a.active {
    background-color: #675d714a;
}

li a:hover:not(.active) {
    background-color: #675d714a;
}

.support {
    color: #c9f9c9;
    padding-left: 2%;
    padding-right: 24%;
    padding-top: 7%;
}

.digi {
    margin-top: 5%;
}

.digi h2 {
    color: #51342f;
    padding-left: 40%;
}

.digi p {
    padding-left: 9%;
    color: #51342f;
    padding-right: 35%;
}

.digimedia {
    display: grid;
    grid-template-columns: 50% 50%;
}

.digimedia video {
    width: 95%;
    padding-left: 3%;
    padding-top: 9%;
}

.digimedia img {
    width: 90%;
    padding-top: 8%;
    padding-left: 5%;
}

.kaja {
    margin-top: 5%;
}

.kaja h2 {
    color: #9f95b3;
    padding-left: 40%;
}

.kajamedia {
    display: grid;
    grid-template-columns: 50% 50%;
}

.kajamedia video {
    width: 95%;
    padding-left: 3%;
    padding-top: 8%;
}

.kajamedia img {
    width: 95%;
    padding-top: 7%;
    padding-left: 2%;
}

.kajagif {
    display: grid;
    grid-template-columns: 50% 50%;
}

.kajagif img {
    width: 39%;
    padding-left: 40%;
}

.kajagif p {
    margin-top: 15%;
    color: #9f95b3;
    padding-right: 20%;
}

.angela {
    margin-top: 5%;
    margin-bottom: 5%;
}

.angela h2 {
    color: #c45d71;
    padding-left: 40%;
}

.angela p {
    padding-left: 2%;
    color: #c45d71;
    padding-top: 20%;
}

.angelagif {
    display: grid;
    grid-template-columns: 50% 50%;
}

.angelagif img {
    width: 95%;
    padding-left: 2%;
}

.angelamedia {
    display: grid;
    grid-template-columns: 50% 50%;
}

.angelamedia video {
    width: 95%;
    padding-left: 3%;
    padding-top: 2%;
}