.tato {
  display: grid;
  grid-template-columns: 10% 90%;
}

div.section-background {
  background-image: url('tankn.jpg');
  height: 15vh;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 73% 30%;
  text-decoration: none;
}

li a.active {
  background-color: #675d714a;
}

li a:hover:not(.active) {
  background-color: #675d714a;
}

.tank {
  padding-left: 5%;
}

.tank h2 {
  color: #9fbede;
  text-indent: 10%;
}

.tank p {
  padding-left: 5%;
  padding-right: 45%;
  color: #9fbede;
}

.media {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.vidos video {
  width: 100%;
  height: auto;
}

.minotavr {
  padding-top: 10%;
}

.minotavr img {
  width: 100%;
  height: auto;
}

.minotavr h2 {
  padding-left: 45%;
  color: #690e07;
}

.minotavr p {
  color: #690e07;
  text-indent: 5%;
}

.johnson {
  margin-top: 5%;
}

.johnson h2 {
  color: #222461a1;
  padding-left: 45%;
}

.johnson p {
  color: #222461a1;
  text-indent: 5%;
}

.medias {
  display: grid;
  grid-template-columns: 50% 50%;
}

.vid video {
  width: 100%;
  height: auto;
}

.medias img {
  width: 95%;
  padding-left: 3%;
  padding-top: 3%;
}

.grock {
  margin-top: 5%;
}

.grock h2 {
  color: #3a5e1d;
  padding-left: 45%;
}

.grock p {
  color: #3a5e1d;
  text-indent: 5%;
}

.mediam {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.video video {
  width: 100%;
  padding-top: 3%;
}

.mediam img {
  width: 96%;
  padding-left: 2%;
  padding-top: 4%;
}

.gifgrock {
  width: 90%;
  padding-left: 6%;
}