header {
  width: 100%;
  height: 1%;
  background: #0f887e8f;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  word-spacing: 75px;
}

header a {
  font-family: Marker Felt, fantasy;
  line-height: 70px;
  font-size: 30px;
  color: #000000;
}

header img {
  max-height: 50px;
  margin-bottom: -15px;
  border-radius: 25px;
}

.stars,
.twinkling {
  position: absolute;
  top: -66%;
  left: 0;
  width: 100%;
  height: 100%;
}

.stars {
  background: #000 url(https://i.postimg.cc/hhFD7Nkf/apps-47636-13819498107583324-fb06b53a-4974-4acb-85e6-f6f363f85ab6-edec48d0-ec35-4a1f-8bf5-c455987b4a.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background-image: url(https://i.postimg.cc/CLpNr4PF/twinkling.png);
  animation: 3s twinkle infinite;
  animation-timing-function: linear;
}

@keyframes twinkle {
  from {
    background-position: 0;
  }

  to {
    background-position: -100px 0;
  }
}

* {
  box-sizing: border-box;
}

.image-box {
  position: relative;
  width: 560px;
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.image-box .border {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border: 2px solid white;
  z-index: 1;
}

.image-box img {
  display: block;
  position: relative;
  width: 534px;
  height: 546px;
  margin-left: -171px;
}

.image-box .image-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 60%;
  padding: 20px;
  background: linear-gradient(to bottom,
      rgba(18, 26, 63, 0.3),
      rgba(18, 26, 63, 0.9));
}

.image-box .image-header {
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
}

.image-box p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  line-height: 18px;
}

.gif {
  margin-left: -318%;
  margin-bottom: 155px;
}

.gif iframe {
  width: 556px;
  height: 138%;
}

.links {
  padding-left: 70%;
  margin-right: -303%;
}

.bloc {
  padding-left: 173px;
}

.links h2 {
  color: #ffffff;
  text-indent: 190px;
  letter-spacing: 2px;
  text-align: justify;
  margin-top: 80.92px;
}

.bloc a:link,
.bloc a:visited {
  background-color: #193f35;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.bloc a:hover,
.bloc a:active {
  background-color: rgb(62, 156, 128);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.Kamado-color {
  background: linear-gradient(50deg, #0d74a381 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #28a3434f 70%, #dbee6da4 70%);
  height: 600px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.text {
  padding-left: 15px;
  padding-top: 20px;
  margin: 35px;
  text-align: justify;
}

.text h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.text p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

.texT {
  padding-left: 4px;
  padding-top: 15px;
  margin: 30px;
  text-align: justify;
}

.texT h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.fottotadzhiro {
  padding-top: 40px;
  padding-left: 75px;
}

.fottotadzhiro img {
  height: 71%;
}

.background {
  background: linear-gradient(90deg,
      rgba(199, 67, 144, 0.84) 21%,
      rgb(181, 35, 85) 46%,
      rgb(148, 38, 91) 89%);
  height: 665px;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.nezuko {
  margin: 30px;
}

.nezuko h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.nezuko p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: -1px;
}

.fotonezuko {
  padding: 12px;
  padding-top: 76px;
}

.fotonezuko img {
  width: 98%;
  height: 68%;
}

.Nezuko {
  padding: 60px;
}

.Nezuko h3 {
  text-indent: 135px;
  letter-spacing: 3px;
}

.Nezuko p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

.zenytsu {
  background: linear-gradient(217deg,
      rgb(243, 208, 22),
      rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgb(155, 125, 5), rgba(96, 94, 78, 0.1) 70.71%),
    linear-gradient(336deg, rgb(255, 144, 1), rgb(109, 104, 61) 70.71%);
  height: 600px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.fotozenytsu {
  padding: 55px;
}

.fotozenytsu img {
  width: 70%;
  height: 98%;
  margin-top: -11px;
}

.biozenytsu {
  margin-top: 91px;
  margin-right: 61px;
}

.biozenytsu h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.biozenytsu p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: -1px;
}

.biogzenytsu {
  margin-top: 90px;
  margin-right: 47px;
}

.biogzenytsu h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.biogzenytsu p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: -1px;
}

.inoske {
  background-image: linear-gradient(70deg,
      hsl(234deg 89% 72%) 0%,
      hsl(236deg 86% 64%) 28%,
      hsl(226deg 81% 61%) 41%,
      hsl(200deg 75% 60%) 43%,
      hsl(196deg 61% 48%) 51%,
      hsl(200deg 68% 34%) 71%,
      hsl(218deg 80% 19%) 100%);
  height: 600px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.inoskeistori {
  padding: 60px;
  margin-top: 16px;
}

.inoskeistori h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.inoskeistori p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: -1px;
}

.inoskefoto {
  padding-left: 77px;
  margin-top: 40px;
}

.inoskefoto img {
  width: 85%;
  margin-top: -6px;
}

.inoskeяovnishnist {
  padding: 60px;
  margin-top: 16px;
}

.inoskeяovnishnist h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.inoskeяovnishnist p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: -1px;
}

.muzan {
  background: linear-gradient(to left, #000000 27%, #ff0000 91%);
  height: 600px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.muzanstori {
  padding: 23px;
  padding-left: 18px;
  padding-top: 23px;
  padding-top: 4px;
  text-align: justify;
}

.muzanstori h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.muzanstori p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: -1px;
}

.muzanzovnishnist {
  padding-left: 4px;
  padding-top: 15px;
  margin: 30px;
  text-align: justify;
}

.muzanzovnishnist h3 {
  text-indent: 200px;
  letter-spacing: 3px;
}

.muzanfoto {
  padding-left: 77px;
  margin-top: 40px;
}

.muzanfoto img {
  width: 95%;
  margin-top: 66px;
}