h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

div.section-background {
  background-size: 100%;
  background-image: url('leleka.jpg');
  opacity: 1;
  animation-timing-function: linear;
  height: 100vh;
  animation-duration: 5s;
  animation-name: transparency;
  position: relative;
}

@keyframes transparency {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

div.text1 {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0%;
}

div.text1 h1 {
  position: absolute;
  top: 50%;
  margin-left: 25%;
  margin-top: 0%;
  width: 50%;
  text-align: center;
}

div.section-description h1 {
  margin-left: 25%;
  width: 50%;
  text-align: center;
  margin-top: 100px;
}

div.section-description p {
  margin-left: 25%;
  width: 50%;
  text-align: center;
  font-style: italic;
  margin-bottom: 100px;
  font-size: x-large;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

header {
  width: 100%;
  height: 1%;
  background: #0e7c95;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  word-spacing: 75px;
}

header a {
  font-family: Marker Felt, fantasy;
  line-height: 70px;
  font-size: 30px;
  color: #00ced1;
}

header img {
  max-height: 50px;
  margin-bottom: -15px;
}

div.gallery {
  margin: 6%;
  border: 2px solid #086574;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
  height: 397px;
}

div.gallery:hover {
  border: 1px solid #086574;
  background-color: #086574;
}

div.gallery img {
  width: 100%;
  max-height: 249px;
}

.desc {
  padding: 2px;
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

div h2 {
  text-align: center;
}

div .gallery h3 {
  text-align: center;
}

div .margin {
  margin: 100px;
  line-height: 20px;
  padding: 40px;
  background-color: #058296;
}

div.desc h4 {
  color: #0b4d05;
  font-family: Impact, fantasy;
  margin: 5.28px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=text]"select,textarea" {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #08628e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div .container {
  margin-left: 45%;
  box-sizing: border-box;
  width: 18%;
  display: inline-block;
  vertical-align: bottom;
  padding: 100px;
  line-height: 34px;
}

textarea {
  padding: 10px;
  text-align: center;
}

input[type=text] {
  padding: 15px;
}

div .description {
  margin: 6%;
  box-sizing: border-box;
  width: 90%;
  display: inline-block;
  vertical-align: bottom;
  border: 2px solid #086574;
  background-color: #025b6ac7;
}

div .text p {
  width: 28%;
  margin-left: 10%;
  line-height: 80px;
  position: absolute;
  margin-top: 8%;
  font-family: Marker Felt, fantasy;
}

div .text h1 {
  text-align: center;
}
