.rama {
  border-style: inset;
  border-color: #6b5959;
  border-width: 20px;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

.ramka {
  width: 15%;
  height: 250px;
  background-color: #ceb9b9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, 0.4);
  margin-left: 11%;
  margin-top: 12%;
}

.ramka img {
  width: 56%;
}

.ramka::after,
.ramka::before {
  mix-blend-mode: multiply;
  z-index: -1;
  content: '';
  width: calc(100% + 90px);
  height: calc(100% + 90px);
  position: absolute;
  animation: anim-ramka 8s ease-in-out infinite;
}

@keyframes anim-ramka {
  0%,
  100% {
    clip-path: polygon(0 0, calc(100% - (33px)) calc(0% + (33px)), 100% 100%, calc(0% + (33px)) calc(100% - (33px)));
  }

  50% {
    clip-path: polygon(calc(0% + (33px)) calc(0% + (33px)), 100% 0, calc(100% - (33px)) calc(100% - (33px)), 0 100%);
  }
}

.ramka::after {
  animation-delay: -5s;
  background-color: #ceb9b9;
}

.ramka::before {
  background-color: #ceb9b9;
}

.ramka:hover::before,
.ramka:hover::after {
  animation-play-state: paused;
}

.min h1 {
  margin-left: 42%;
  margin-top: 4%;
  margin-bottom: -6%;
  color: #8a5e5e;
}

.min h2 {
  color: #ceb9b9;
  margin-left: 40%;
  margin-top: -15%;
}

.min p {
  margin-left: 37%;
  margin-top: 2%;
  margin-right: 12%;
}

.gif img {
  margin-left: 50%;
  width: 20%;
}

.name h2 {
  color: #ceb9b9;
  margin-left: 40%;
  margin-top: 4%;
}

.name p {
  margin-left: 41%;
  margin-top: 10%;
  margin-right: 12%;
}

.name img {
  margin-left: 11%;
  width: 22%;
  margin-top: -10%;
}

.early h2 {
  margin-left: 40%;
  margin-top: 5%;
  color: #8a5e5e;
}

.early h3 {
  color: #ceb9b9;
  margin-left: 33%;
  margin-top: 3%;
}

.early p {
  margin-left: 11%;
  margin-top: 6%;
  margin-right: 50%;
  margin-bottom: -3%;
}

.early img {
  margin-left: 65%;
  width: 22%;
  margin-top: 5%;
}

.gif p {
  margin-left: 11%;
  margin-top: 10%;
  margin-right: 48%;
}

.giff p {
  margin-left: 11%;
  margin-top: -15%;
  margin-right: 50%;
}

.giff img {
  margin-left: 15%;
  margin-top: -25%;
  margin-bottom: 28%;
}

.gifff p {
  margin-left: 60%;
  margin-top: -5%;
  margin-bottom: 7%;
  margin-right: 4%;
}

.gifff img {
  margin-left: 15%;
  margin-top: -25%;
  margin-bottom: 20%;
}

.today h2 {
  color: #ceb9b9;
  margin-left: 40%;
  margin-top: -5%;
}

.today p {
  margin-left: 41%;
  margin-top: 10%;
  margin-right: 13%;
}

.today img {
  margin-left: 11%;
  width: 22%;
  margin-top: -10%;
}

.giffff img {
  margin-left: 50%;
  width: 30%;
  margin-top: -22%;
  margin-bottom: 7%;
}

.solo h2 {
  color: #cdb8b8;
  margin-left: 33%;
  margin-top: 1%;
}

.solo p {
  margin-left: 11%;
  margin-top: 10%;
  margin-right: 67%;
}

.solo img {
  margin-left: 37%;
  width: 17%;
  margin-top: -31%;
  margin-bottom: 15%;
}

.projects p {
  margin-left: 59%;
  margin-top: -43%;
  margin-right: 13%;
}

.art h2 {
  color: #cdb8b8;
  margin-left: 42%;
  margin-top: 12%;
}

.art p {
  margin-left: 11%;
  margin-top: 8%;
  margin-right: 51%;
}

.art img {
  margin-left: 63%;
  width: 20%;
  margin-top: -20%;
}

.personal h2 {
  color: #cdb8b8;
  margin-left: 42%;
  margin-top: 8%;
}

.personal p {
  margin-left: 11%;
  margin-top: 8%;
  margin-right: 51%;
}

.personal img {
  margin-left: 23%;
  width: 37%;
  margin-top: 1%;
}

.personal video {
  margin-left: 67%;
  width: 20%;
  margin-top: -42%;
}
