
header {
  width: 100%;
  height: 1%;
  background: #570b67cf;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  word-spacing: 75px;
}

header a {
  line-height: 70px;
  font-size: 30px;
  color: #110314;
}

.section-description {
  margin-left: 60px;
  margin-top: 45px;
}

.section-description h2 {
  margin-top: 5%;
}

.section-description h1 {
  margin-left: 25%;
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

.description p {
  width: 50%;
  margin-left: 36%;
  line-height: 250%;
  position: absolute;
  margin-top: -11%;
}

div .galleryy p {
  margin-right: auto;
  margin-top: -15%;
  width: 20em;
  margin-left: 60%;
}

div .galleryy img {
  margin-top: 65px;
  margin-left: 100px;
}

* {
  box-sizing: border-box;
}

div .gallery img {
  width: 320px;
}

.gallery {
  display: inline-block;
  width: 30%;
  padding: 1%;
  margin-top: 10%;
  margin-left: 3%;
}

.button {
  padding: 10px;
  color: #110314;
  background-color: #570b67cf;
  text-align: center;
  width: 340px;
}

.button:hover {
  background-color: #c04aeb;
}

div .video {
  box-sizing: border-box;
  width: 48%;
  display: inline-block;
  vertical-align: bottom;
  line-height: 0px;
  padding: 55px;
  background-color: #460969c2;
  margin-left: 25%;
  margin-top: 10%;
}

div .video iframe {
  width: 100%;
  height: 500px;
}

div .video h2 {
  margin-left: 25%;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
}

.description h1 {
  margin-left: 69%;
}

.description {
  box-sizing: border-box;
  width: 60%;
  display: inline-block;
  vertical-align: bottom;
  line-height: 0px;
  padding: 60px;
  background-color: #460969ad;
  margin-left: 18%;
}

.section-contact {
  margin-top: 146px;
  margin-bottom: 57px;
}

div .photo img {
  margin-bottom: 45px;
}
