.header span {
  color: #bdac65;
}

.dart-fs-48 {
  font-size: 4.7em;
}

.header {
  text-align: center;
  margin-top: 5%;
}

.header hr {
  background-color: #333333;
  width: 15%;
}

li a.active {
  background-color: #978d66;
}

.menu-food .menu-food-pennal li.food-spicy,
.menu-food .menu-food-pennal li:hover {
  padding: 1% 0;
  color: #603535;
  background-color: #796b3599;
  border-top-left-radius: 50%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 10%;
  transition: all 500ms ease-in-out;
}

.menu-food .menu-food-pennal {
  padding: 1%;
  height: 100px;
  border-bottom: 4px solid #978d66;
}

.menu-food .menu-food-pennal li {
  float: left;
  text-align: center;
  padding: 3% 9px;
  font-size: 100%;
  display: block;
  height: 80%;
}

.dishs-price {
  color: #f7b527;
  font-weight: 600;
  font-size: 1.2857142857142858em;
}

a {
  color: #603535;
  font-size: 170%;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

h3 {
  font-size: 260%;
  padding-left: 10%;
}

p {
  font-size: 250%;
  padding-left: 5%;
}

.menu-list-1 {
  padding-bottom: 2%;
  border-bottom: 1px dashed #755131;
}

.food-list {
  padding-top: 35px;
}

.menu-food .menu-food-pennal .food-1,
.menu-food .menu-food-pennal .food-2,
.menu-food .menu-food-pennal .food-3,
.menu-food .menu-food-pennal .food-4,
.menu-food .menu-food-pennal .food-5,
.menu-food .menu-food-pennal .food-6,
.menu-food .menu-food-pennal .food-7,
.menu-food .menu-food-pennal .food-8 {
  height: 47%;
}

a:link {
  text-decoration: none;
}